workflows/vlWf2-bNcX29uIJtTm7dM.json
{
  "updatedAt": "2026-02-02T16:28:36.533Z",
  "createdAt": "2026-01-14T01:23:56.258Z",
  "id": "vlWf2-bNcX29uIJtTm7dM",
  "name": "Sales - Post Call Processing",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Audio File",
        "formDescription": "Capture le fichier audio de zoom",
        "formFields": {
          "values": [
            {
              "fieldName": "Audio",
              "fieldLabel": "Audio File",
              "fieldType": "file"
            },
            {
              "fieldName": "email_prospect",
              "fieldLabel": "Email du Prospec",
              "fieldType": "email"
            },
            {
              "fieldName": "audio_part2",
              "fieldLabel": "Audio Partie 2 (Optionnel)",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -320,
        -96
      ],
      "id": "e2180af3-b876-4453-bac5-43a3022109a5",
      "name": "On form submission",
      "webhookId": "1dc0f465-056a-4ad9-99dd-dd5bcd9706ed"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu es un analyste IA expert en vente consultative. Ta tâche est d'analyser le transcript d'appel ci-dessous pour en extraire un profil structuré.\n\nTRANSCRIPT DE L'APPEL :\n\"\"\"\n{{ $('Transcribe Part 1').item.json.text ? $('Transcribe Part 1').item.json.text : $('Transcribe Part 1').item.json.content.parts[0].text }}\n\"\"\"\n\nOBJECTIF :\nGénérer un profil JSON strict. \n**IMPORTANT :** Analyse le langage utilisé par le Vendeur envers le Prospect. Est-ce qu'il utilise le \"Tu\" (tutoiement) ou le \"Vous\" (vouvoiement) ? C'est crucial pour la personnalisation des emails futurs. Note-le dans le champ \"ton_conversationnel\".\n\nSTRUCTURE DU JSON ATTENDU :\n{\n  \"ton_conversationnel\": \"String (Valeur stricte : 'Tu' ou 'Vous')\",\n  \"identite\": {\n    \"prenom\": \"String\",\n    \"source_acquisition\": \"String\",\n    \"caracteristiques_perso\": \"String\"\n  },\n  \"situation_familiale\": {\n    \"statut\": \"String\",\n    \"details\": \"String\"\n  },\n  \"situation_professionnelle\": {\n    \"profession\": \"String\",\n    \"employeur_type\": \"String\",\n    \"regime_retraite\": \"String\",\n    \"stabilite\": \"String\"\n  },\n  \"situation_financiere\": {\n    \"dettes\": \"String\",\n    \"epargne_investissements\": \"String\",\n    \"niveau_connaissance\": \"String\",\n    \"autres_donnees\": \"String\"\n  },\n  \"objectifs_projets\": {\n    \"objectif_principal\": \"String\",\n    \"court_terme\": \"String\",\n    \"moyen_long_terme\": \"String\"\n  },\n  \"points_douloureux\": [\n    \"String\",\n    \"String\"\n  ],\n  \"attentes_formation\": {\n    \"vision_ultime\": \"String\",\n    \"besoins_specifiques\": \"String\"\n  },\n  \"logistique\": {\n    \"accompagnement\": \"String\",\n    \"dates_souhaitees\": \"String\",\n    \"contraintes\": \"String\"\n  },\n  \"notes_personnalisation\": \"String\",\n  \"next_steps\": [\n    \"String\",\n    \"String\"\n  ]\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1008,
        -80
      ],
      "id": "2d0c2844-0f1f-43f5-ae68-2c2de23062bb",
      "name": "Profiling Prospect",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "dalJQLi43UfwZY60",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. On récupère le texte brut généré par Gemini\n// Le chemin dépend de la structure exacte que tu m'as montrée\nconst rawText = $input.first().json.content.parts[0].text;\n\n// 2. Sécurité : On nettoie le texte au cas où Gemini aurait mis des balises ```json autour\nconst cleanText = rawText.replace(/```json|```/g, '').trim();\n\n// 3. On convertit le texte en véritable objet JSON utilisable par n8n\nreturn JSON.parse(cleanText);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        -80
      ],
      "id": "6a495a31-b4ed-45b9-8112-0430a0f0bf8c",
      "name": "Parsing variables du profiling"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu es un expert en vente consultative avec 20 ans d’expérience dans la formation en finance personnelle.\nTon rôle est d'analyser le profil du prospect ci-dessous pour prédire sa probabilité de conversion (Scoring).\n\nINPUT_DATA (Profil du prospect) :\n\"\"\"\n{{ JSON.stringify($json) }}\n\"\"\"\n\nINSTRUCTIONS :\nSois objectif et pragmatique. Concentre-toi sur les signaux concrets.\nUne situation financière solide ne suffit pas si l'urgence est nulle.\n\nCRITÈRES D'ÉVALUATION (Noter de 1 à 10) :\n1. Douleur Explicite : Le problème est-il reconnu et douloureux ?\n2. Budget & Prix : A-t-il la capacité financière ?\n3. Urgence/Échéance : Est-il prêt à agir MAINTENANT (vs contraintes de temps/logistique) ?\n4. Engagement Émotionnel : Motivation, vision, \"Fit\" personnel.\n\nFORMAT DE SORTIE OBLIGATOIRE (JSON uniquement) :\nGénère un objet JSON strict, sans markdown (pas de ```json), suivant cette structure :\n\n{\n  \"score_global\": Nombre (sur 10),\n  \"confiance_score\": \"String (Faible/Moyenne/Élevée)\",\n  \"details_criteres\": {\n    \"douleur\": { \"note\": Nombre, \"preuve\": \"String (Citation ou fait précis)\" },\n    \"budget\": { \"note\": Nombre, \"preuve\": \"String\" },\n    \"urgence\": { \"note\": Nombre, \"preuve\": \"String\" },\n    \"engagement\": { \"note\": Nombre, \"preuve\": \"String\" }\n  },\n  \"analyse\": {\n    \"forces\": [\"String\", \"String\"],\n    \"risques\": [\"String\", \"String\"],\n    \"actions_recommandees\": [\"String\", \"String\"]\n  }\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1680,
        -80
      ],
      "id": "d69e2d9c-fad3-47b1-b18b-43044da4de2f",
      "name": "Scoring",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "dalJQLi43UfwZY60",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.first().json.content.parts[0].text;\nconst cleanText = rawText.replace(/```json|```/g, '').trim();\nreturn JSON.parse(cleanText);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -80
      ],
      "id": "523cbc13-6dc7-47c3-b9c8-a1986f365438",
      "name": "Mettre en variable le scoring output"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=**[K] CONTEXTE & DONNÉES :**\nTu agis en tant que mon assistant commercial pour mon entreprise, Educfinance.\nNous sommes le : {{ $now.format('yyyy-MM-dd') }}\n\nVoici les données du prospect à analyser :\nPROFIL : \"\"\" {{ JSON.stringify($('Parsing variables du profiling').item.json) }} \"\"\"\nSCORING : \"\"\" {{ JSON.stringify($('Mettre en variable le scoring output').item.json) }} \"\"\"\n\n**[R] RÔLE :**\nIncarne un spécialiste de la vente consultative B2C (20 ans d'xp). Ton ton est empathique, professionnel, rassurant et confiant.\n**RÈGLE D'OR DU TON :**\n- Le ton détecté lors de l'appel est : \"{{ $('Parsing variables du profiling').item.json.ton_conversationnel }}\"\n- SI C'EST \"Tu\" : Tu DOIS tutoyer le prospect.\n- SI C'EST \"Vous\" : Tu DOIS vouvoyer le prospect.\n\n**[A] ACTION :**\nRédige un courriel de suivi personnalisé.\nLe courriel doit s'inspirer de la structure ci-dessous, mais être adapté spécifiquement aux informations du prospect (Douleurs, Objectifs, Situation).\n\n**[S] STRUCTURE DU COURRIEL (À SUIVRE IMPÉRATIVEMENT) :**\n\n1.  **Salutation personnalisée** : Utilise la variable {{ $('Parsing variables du profiling').item.json.identite.prenom }}  pour la salutation. Si le ton est 'Vous', utilise 'Bonjour [Prénom],'. Si le ton est 'Tu', utilise 'Salut [Prénom],'.\n2.  **Introduction** : Remercier pour l'échange. Contextualiser la discussion (ex: \"J'ai beaucoup apprécié notre échange concernant...\").\n3.  **Récapitulatif des besoins (Liste à puces)** :\n    *   Phrase d'intro : \"Certains points de notre discussion m’ont particulièrement interpellé :\"\n    *   Synthétiser 3 à 5 points (Douleurs/Objectifs) tirés du PROFIL.\n    *   Utilise des emojis pertinents en fin de phrase.\n    *   Mets en **gras** les concepts clés.\n4.  **Positionnement de la solution** : Introduire la formation \"En Route!\" comme la réponse. Fais le lien avec un élément du profil.\n5.  **Présentation des bénéfices (Liste à puces)** :\n    *   Intro : \"Elle comprend :\"\n    *   Détaille 5 points clés (Outils, Véhicules, Accompagnement, Rencontres, Plateforme) avec emojis au début (✨, 🛠️, 💬, 🤝, 📚).\n6.  **Confirmation du calendrier (Tableau)** :\n    *   Intro :  \"Comme convenu, [tu es/vous êtes] pré-inscrit(e) pour la cohorte du [Date Cohorte]. Voici le déroulement :\"\n    *   **TITRE DU TABLEAU OBLIGATOIRE :** La première colonne doit s'appeler \"Thème\" ou \"Cohorte du [Date] ([Jour])\".\n    *   **FORMAT DES DATES OBLIGATOIRE :** Écris TOUJOURS \"Le [Jour] [Mois] [Année]\" (ex: Le 9 février 2026). Ne mets JAMAIS de format YYYY-MM-DD.\n    *   **ALGORITHME DATES :**\n        *   Ligne 1 : Embarquement 🥳 (Date Cohorte | Date Cohorte | Date Cohorte à 20h00)\n        *   Ligne 2 : 1 : Votre destination (Date Cohorte +1j | Date Cohorte +1j | Date Cohorte +7j à 20h00)\n        *   Ligne 3 : 2 : Votre retraite (Date Cohorte +8j | Date Cohorte +8j | Date Cohorte +14j à 20h00)\n        *   Ligne 4 : 3 : Votre fiscalité (Date Cohorte +15j | Date Cohorte +15j | Date Cohorte +21j à 20h00)\n        *   Ligne 5 : 4 : Vos véhicules (Date Cohorte +22j | Date Cohorte +22j | Date Cohorte +28j à 20h00)\n        *   Ligne 6 : 5 : Vos outils (Date Cohorte +29j | Date Cohorte +29j | Date Cohorte +35j à 20h00)\n7.  **Appel à l'action (CTA)** :\n    *   Phrase : \"Pour finaliser [ton/votre] inscription, voici le lien pour procéder au règlement :\"\n    *   **LIEN OBLIGATOIRE :** Écris exactement : `👉 [INSCRIPTION ICI](https://educfinance.thrivecart.com/en-route/?affiliate=djamelbourouba)`\n    *   Mentionne le paiement en 3x si pertinent.\n8.  **Offre Conjoint** : (Si applicable selon profil).\n9.  **Conclusion & Signature** : Phrase de fin motivante + \"Bien cordialement,\" + [Ton Prénom].\n\n**[F] FORMAT DE SORTIE :**\nGénère uniquement le corps du mail. Pas de titre, pas de commentaires avant/après."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        2288,
        -240
      ],
      "id": "204ff1a2-f5df-4742-8a33-6c98d386a224",
      "name": "First email",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "dalJQLi43UfwZY60",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Récupération SÉCURISÉE\nconst inputItem = $input.first();\nlet rawText;\n\n// On récupère le contenu brut\nif (inputItem.json.content && inputItem.json.content.parts && inputItem.json.content.parts[0]) {\n    rawText = inputItem.json.content.parts[0].text;\n} else if (inputItem.json.text) {\n    rawText = inputItem.json.text;\n} else {\n    rawText = JSON.stringify(inputItem.json);\n}\n\nif (typeof rawText !== 'string') rawText = String(rawText);\n\n// --- DÉBALLAGE EN PROFONDEUR (La nouveauté) ---\n// On nettoie le Markdown\nlet content = rawText.replace(/```json|```/g, '').trim();\n\n// On essaie de parser tant que c'est possible pour enlever les couches de JSON/Stringify\ntry {\n    // Premier niveau de parsing\n    let parsed = JSON.parse(content);\n    \n    // Si c'est un objet, on cherche le corps\n    if (typeof parsed === 'object' && parsed !== null) {\n        // Gestion du cas complexe (Tableaux, types...)\n        if (parsed.corps && Array.isArray(parsed.corps)) {\n            // On convertira ce cas complexe plus bas, on garde l'objet tel quel pour l'instant\n            content = parsed; \n        } \n        // Gestion du cas simple { \"email\": \"...\" }\n        else {\n            let keys = Object.keys(parsed);\n            let bodyKey = keys.find(k => k.includes('corps') || k.includes('body') || k.includes('email') || k.includes('message') || k.includes('text'));\n            \n            if (bodyKey) {\n                content = parsed[bodyKey];\n            } else if (keys.length > 0) {\n                // Fallback : première valeur\n                content = parsed[keys[0]];\n            }\n        }\n    } else {\n        // Si c'était juste une string encodée (ex: \"\\\"Salut\\\\nCa va\\\"\"), le parse l'a nettoyée\n        content = parsed;\n    }\n} catch (e) {\n    // Ce n'était pas du JSON, on garde le texte tel quel\n}\n\n// Si on se retrouve avec un objet complexe (le cas du tableau structuré), on le traite à part\nlet isComplexJson = (typeof content === 'object' && content.corps && Array.isArray(content.corps));\nlet bodyMarkdown = \"\";\nlet subject = \"🚀 Votre parcours vers l'autonomie financière avec Educfinance\";\nlet htmlContent = \"\";\n\nif (isComplexJson) {\n    // --- MOTEUR DE RENDU JSON COMPLEXE ---\n    if (content.objet || content.subject) subject = content.objet || content.subject;\n    \n    content.corps.forEach(bloc => {\n        if (['paragraphe', 'salutation', 'signature', 'texte'].includes(bloc.type)) {\n            htmlContent += `<p style=\"margin-bottom: 10px; line-height: 1.6;\">${bloc.contenu.replace(/\\n/g, '<br>')}</p>`;\n        } else if (bloc.type === 'titre') {\n            htmlContent += `<h3 style=\"color: #333; margin-top: 20px; margin-bottom: 10px;\">${bloc.contenu}</h3>`;\n        } else if (bloc.type.includes('liste')) {\n            htmlContent += '<ul style=\"margin-bottom: 20px;\">';\n            if (Array.isArray(bloc.contenu)) bloc.contenu.forEach(item => htmlContent += `<li style=\"margin-bottom: 5px;\">${item}</li>`);\n            htmlContent += '</ul>';\n        } else if (bloc.type.includes('tableau')) {\n            htmlContent += '<table cellspacing=\"0\" cellpadding=\"0\" style=\"width: 100%; border-collapse: collapse; margin: 25px 0; font-family: Helvetica, Arial, sans-serif; font-size: 14px;\">';\n            if (Array.isArray(bloc.contenu) && bloc.contenu.length > 0) {\n                let headers = Object.values(bloc.contenu[0]);\n                htmlContent += '<thead><tr>';\n                headers.forEach(h => htmlContent += `<th style=\"text-align: left; padding: 12px 5px; border-bottom: 2px solid #000; font-weight: normal; color: #333;\">${h}</th>`);\n                htmlContent += '</tr></thead><tbody>';\n                for (let i = 1; i < bloc.contenu.length; i++) {\n                    let row = Object.values(bloc.contenu[i]);\n                    htmlContent += '<tr>';\n                    row.forEach((cell, index) => {\n                        let cellContent = cell;\n                        if (index === 0) cellContent = `<strong>${cellContent}</strong>`;\n                        htmlContent += `<td style=\"padding: 12px 5px; border-bottom: 1px solid #ddd; vertical-align: top;\">${cellContent}</td>`;\n                    });\n                    htmlContent += '</tr>';\n                }\n                htmlContent += '</tbody></table>';\n            }\n        }\n    });\n} else {\n    // --- TRAITEMENT TEXTE BRUT (Ton cas actuel) ---\n    // On s'assure que c'est une string\n    if (typeof content !== 'string') content = JSON.stringify(content);\n    \n    // NETTOYAGE FINAL DES RÉSIDUS\n    bodyMarkdown = content;\n    // Enlève les guillemets de début/fin s'ils sont revenus\n    bodyMarkdown = bodyMarkdown.replace(/^\"|\"$/g, '');\n    // Transforme les \\n littéraux en vrais sauts de ligne\n    bodyMarkdown = bodyMarkdown.split('\\\\n').join('\\n');\n    bodyMarkdown = bodyMarkdown.trim();\n\n    // Extraction sujet\n    const subjectMatch = bodyMarkdown.match(/^(Subject|Sujet)\\s*:\\s*(.*)/i);\n    if (subjectMatch) {\n        const firstLineEnd = bodyMarkdown.indexOf('\\n');\n        if (firstLineEnd !== -1) {\n            subject = bodyMarkdown.substring(0, firstLineEnd).replace(/^(Subject|Sujet)\\s*:\\s*/i, '').trim();\n            bodyMarkdown = bodyMarkdown.substring(firstLineEnd).trim();\n        }\n    }\n\n    // Conversion Markdown -> HTML\n    let lines = bodyMarkdown.split('\\n');\n    let inList = false, inTable = false;\n\n    for (let i = 0; i < lines.length; i++) {\n        let line = lines[i].trim();\n        if ((line.startsWith('* ') || line.startsWith('- ')) && !inTable) {\n            if (!inList) { htmlContent += '<ul style=\"margin-bottom: 20px;\">'; inList = true; }\n            htmlContent += `<li style=\"margin-bottom: 8px;\">${line.substring(2).trim()}</li>`;\n        } else if (line.includes('|')) {\n            if (line.replace(/\\|/g, '').replace(/-/g, '').replace(/:/g, '').trim() === '') continue;\n            if (!inTable) {\n                htmlContent += '<div style=\"text-align: center; margin: 25px 0;\"><table cellspacing=\"0\" cellpadding=\"0\" style=\"width: auto; margin: 0 auto; border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 14px; display: inline-table;\"><thead><tr>';\n                let cells = line.split('|').filter(c => c.trim() !== '');\n                for (let cell of cells) htmlContent += `<th style=\"text-align: left; padding: 10px 20px; border-bottom: 2px solid #000; font-weight: bold; color: #333; white-space: nowrap;\">${cell.trim()}</th>`;\n                htmlContent += '</tr></thead><tbody>';\n                inTable = true;\n            } else {\n                htmlContent += '<tr>';\n                let cells = line.split('|').filter(c => c.trim() !== '');\n                cells.forEach((cell, index) => {\n                    let cellContent = cell.trim();\n                    // Fix Date\n                    const dateMatch = cellContent.match(/(\\d{4})-(\\d{2})-(\\d{2})/);\n                    if (dateMatch) {\n                        const [, year, month, day] = dateMatch;\n                        const dateObj = new Date(year, month - 1, day);\n                        const options = { day: 'numeric', month: 'long', year: 'numeric' };\n                        cellContent = \"Le \" + dateObj.toLocaleDateString('fr-FR', options);\n                    }\n                    if (index === 0) cellContent = `<strong>${cellContent}</strong>`;\n                    htmlContent += `<td style=\"padding: 10px 20px; border-bottom: 1px solid #ddd; vertical-align: top; text-align: left;\">${cellContent}</td>`;\n                });\n                htmlContent += '</tr>';\n            }\n        } else {\n            if (inList) { htmlContent += '</ul>'; inList = false; }\n            if (inTable) { htmlContent += '</tbody></table></div>'; inTable = false; }\n            if (line.length > 0) htmlContent += `<p style=\"margin-bottom: 10px;\">${line}</p>`;\n        }\n    }\n    if (inList) htmlContent += '</ul>';\n    if (inTable) htmlContent += '</tbody></table></div>';\n}\n\n// --- FINITIONS ---\nhtmlContent = htmlContent.replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>');\nhtmlContent = htmlContent.replace(\n    /👉 \\[INSCRIPTION ICI\\]\\(([^)]+)\\)/g, \n    '<p style=\"margin-top: 20px; text-align: left;\">👉 <a href=\"$1\" style=\"color: #0000FF; font-weight: bold; text-decoration: underline; font-size: 16px;\">INSCRIPTION ICI</a></p>'\n);\nhtmlContent = htmlContent.replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '<a href=\"$2\" style=\"color: #0000FF;\">$1</a>');\n\n// Fix Prénom\nconst prenomProspect = $('Parsing variables du profiling').item.json.identite.prenom || \"Cher client\";\nhtmlContent = htmlContent.replace(/Bonjour \\[Prénom\\],/gi, `Bonjour ${prenomProspect},`);\nhtmlContent = htmlContent.replace(/Salut \\[Prénom\\],/gi, `Salut ${prenomProspect},`);\n\n// Signature\nhtmlContent = htmlContent.replace('[Ton Prénom]', 'Djamel');\nhtmlContent = htmlContent.replace('[Votre Prénom]', 'Djamel');\n\n// Temps\nlet duration = \"N/A\";\ntry {\n    const startTime = new Date($('On form submission').item.json.submittedAt).getTime();\n    const endTime = new Date().getTime();\n    duration = ((endTime - startTime) / 1000).toFixed(1);\n} catch(e) {}\n\nconst finalHtml = `<div style=\"font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.6; color: #333;\">\n${htmlContent}\n<br>\n<hr style=\"border: 0; border-top: 1px solid #eee; margin: 30px 0;\">\n<p style=\"color: #aaa; font-size: 11px;\">\n    ⚡ Généré en ${duration}s\n</p>\n</div>`;\n\nreturn {\n  email_subject: subject,\n  email_body: finalHtml\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        -240
      ],
      "id": "4031f369-c645-4310-8b80-6fe5168591a1",
      "name": "Formatage Email"
    },
    {
      "parameters": {
        "fromEmail": "djamel@educfinance.ca",
        "toEmail": "djamel@educfinance.ca",
        "subject": "=[A VALIDER] {{ $json.email_subject }}",
        "html": "={{ $json.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2848,
        -240
      ],
      "id": "16d88770-d600-4893-b9ae-ca7d1f0fd8e1",
      "name": "Send email",
      "webhookId": "494315e7-ca91-4616-8b84-e0e3c9e120aa",
      "credentials": {
        "smtp": {
          "id": "LSfS0u91bz6ea0jq",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        864,
        -80
      ],
      "id": "2c398dea-49db-4237-81f8-829df7a353c8",
      "name": "Wait 10s",
      "webhookId": "9b98eab1-09bf-44d4-8dee-bb222e6f060f"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1488,
        -80
      ],
      "id": "284ff9cd-1bf4-4a76-aac5-129ddee1129d",
      "name": "Wait 5s",
      "webhookId": "f35dfaf1-fca3-4fab-a31f-b594bc8567ae"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2160,
        -240
      ],
      "id": "fe753dea-b9df-48f9-af78-2382a113155b",
      "name": "Wait 5s2",
      "webhookId": "0dc364f7-21e8-43cb-8df4-95520b6b7fb6"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $('On form submission').item.json.email_prospect }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2368,
        32
      ],
      "id": "27d434c5-dede-486d-bb01-435cd9006e61",
      "name": "Search a person",
      "credentials": {
        "pipedriveApi": {
          "id": "duh7nmQrV0ewx0wU",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.pipedrive.com/v1/persons/{{ $json.id }}/deals",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "open"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2576,
        32
      ],
      "id": "74a18ac3-0f2b-40f7-be94-3d3e216053fa",
      "name": "Prospect opty retrieval",
      "credentials": {
        "pipedriveApi": {
          "id": "duh7nmQrV0ewx0wU",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "={{ $('Profile Formatage pour PipeDrive').item.json.pipedrive_note }}",
        "additionalFields": {
          "deal_id": "={{ $json.data[0].id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2864,
        32
      ],
      "id": "d9c0e5f0-b068-4b5e-91da-8e8615d9defa",
      "name": "Saving Profile",
      "credentials": {
        "pipedriveApi": {
          "id": "duh7nmQrV0ewx0wU",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// FORCE la lecture du nœud de Profiling (on remonte la chaîne)\nconst p = $('Parsing variables du profiling').item.json;\n\nconst prenom = p.identite?.prenom || \"Prospect\";\nconst situation = p.situation_financiere?.epargne_investissements || \"Non spécifié\";\nconst dettes = p.situation_financiere?.dettes || \"Non spécifié\";\nconst profession = p.situation_professionnelle?.profession || \"Non spécifié\";\nconst objectif = p.objectifs_projets?.objectif_principal || \"Non spécifié\";\nconst cohorte = p.logistique?.dates_souhaitees || \"Non spécifié\";\nconst contraintes = p.logistique?.contraintes || \"Non spécifié\";\n\nlet noteHtml = `<b>📝 SYNTHÈSE APPEL - ${prenom.toUpperCase()}</b><br><br>`;\nnoteHtml += `<b>💰 Situation :</b> ${situation} (Dettes: ${dettes})<br>`;\nnoteHtml += `<b>💼 Pro :</b> ${profession}<br><br>`;\nnoteHtml += `<b>🔥 Douleurs :</b><br><ul>`;\nif (p.points_douloureux) p.points_douloureux.forEach(pt => noteHtml += `<li>${pt}</li>`);\nnoteHtml += `</ul><b>🎯 Objectifs :</b> ${objectif}<br><br>`;\nnoteHtml += `<b>📅 Logistique :</b><br>• Cohorte : ${cohorte}<br>• Contraintes : ${contraintes}<br>`;\n\n// Remplacement de \"analyste\" par Djamel\nnoteHtml = noteHtml.replace(/analyste/gi, '<b>Djamel</b>');\n\nreturn { pipedrive_note: noteHtml, prospect_name: prenom };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        32
      ],
      "id": "846a2705-e885-4274-a4f0-b46491c64abe",
      "name": "Profile Formatage pour PipeDrive"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu es l'assistant personnel d'un vendeur.\nNous sommes le : {{ $now.format('yyyy-MM-dd') }} (C'est la date de référence \"Aujourd'hui\").\n\nTA MISSION :\nAnalyse les \"Next Steps\" et la \"Logistique\" du profil ci-dessous pour déterminer la DATE EXACTE de la prochaine action de relance (Task).\n\nDONNÉES DU PROSPECT :\n\"\"\"\n{{ JSON.stringify($('Parsing variables du profiling').item.json) }}\n\"\"\"\n\nRÈGLES DE DÉCISION (Par ordre de priorité) :\n1. PRIORITÉ ABSOLUE : Cherche une \"Date d'engagement\" ou de \"Retour\" dans les Next Steps (ex: \"Doit valider avec conjoint ce week-end\" => Relance le Lundi suivant. \"Réponse d'ici demain\" => Relance demain).\n2. Si aucune date d'engagement n'est citée, regarde la date de la Cohorte. La relance doit se faire 5 à 7 jours AVANT la cohorte pour finaliser l'inscription.\n3. Si tout est flou, fixe une relance par défaut à J+3 (dans 3 jours ouvrés).\n\nFORMAT DE SORTIE (JSON STRICT) :\n{\n  \"date_action\": \"YYYY-MM-DD\",\n  \"sujet_action\": \"String (ex: Relance suite discussion conjoint / Validation inscription)\",\n  \"explication\": \"String (Pourquoi as-tu choisi cette date ?)\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        2224,
        464
      ],
      "id": "896b167d-d01f-428b-aae2-5fe47339d0cf",
      "name": "Stratège de Relance",
      "credentials": {
        "googlePalmApi": {
          "id": "dalJQLi43UfwZY60",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.first().json.content.parts[0].text;\nconst cleanText = rawText.replace(/```json|```/g, '').trim();\nreturn JSON.parse(cleanText);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        464
      ],
      "id": "75f075c1-22d7-453c-9464-fac2becd271e",
      "name": "Parsing Date Relance"
    },
    {
      "parameters": {
        "resource": "activity",
        "subject": "=📞 {{ $('Parsing Date Relance').item.json.sujet_action }} - {{ $('Parsing variables du profiling').item.json.identite.prenom }}",
        "type": "call",
        "additionalFields": {
          "deal_id": "={{ $('Prospect opty retrieval').item.json.data[0].id }}",
          "due_date": "={{ $('Parsing Date Relance').item.json.date_action }}",
          "person_id": "={{ $('Prospect opty retrieval').item.json.data[0].person_id.value }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2864,
        464
      ],
      "id": "934bfcc1-9451-4278-9e6e-9df305553478",
      "name": "Create an activity",
      "credentials": {
        "pipedriveApi": {
          "id": "duh7nmQrV0ewx0wU",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Récupère le Score (Remonte au tronc commun)\nconst scoring = $('Mettre en variable le scoring output').item.json;\n\n// 2. Récupère l'ID du Deal (Depuis le nœud HTTP juste avant la sauvegarde)\nconst dealId = $('Prospect opty retrieval').item.json.data[0].id;\n\nlet probability = Math.round(scoring.score_global * 10);\n\nlet noteHtml = `<b>🤖 SCORING IA : ${scoring.score_global}/10</b><br><br>`;\nconst c = scoring.details_criteres;\nnoteHtml += `<b>💰 Budget :</b> ${c.budget.note}/10<br><i>${c.budget.preuve}</i><br><br>`;\nnoteHtml += `<b>🚨 Urgence :</b> ${c.urgence.note}/10<br><i>${c.urgence.preuve}</i><br><br>`;\nnoteHtml += `<b>💡 Recommandation :</b><br>`;\nif (scoring.analyse.actions_recommandees) {\n    scoring.analyse.actions_recommandees.forEach(a => noteHtml += `• ${a}<br>`);\n}\n\nnoteHtml = noteHtml.replace(/analyste/gi, '<b>Djamel</b>');\n\nreturn { deal_id: dealId, probability: probability, note_content: noteHtml };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        240
      ],
      "id": "7058b3a7-1884-4aa3-a257-83ea937489a9",
      "name": "Calcul Probabilité"
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $json.deal_id }}",
        "updateFields": {
          "probability": "={{ $json.probability }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2640,
        240
      ],
      "id": "cf3c61e5-baea-49b1-a063-c9e475bb1835",
      "name": "Update Probability",
      "credentials": {
        "pipedriveApi": {
          "id": "duh7nmQrV0ewx0wU",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "={{ $('Calcul Probabilité').item.json.note_content }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2864,
        240
      ],
      "id": "16032125-9d96-49e7-a042-7e8d84bdf674",
      "name": "Create Scoring Note",
      "credentials": {
        "pipedriveApi": {
          "id": "duh7nmQrV0ewx0wU",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "inputType": "binary",
        "binaryPropertyName": "=Audio"
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        -112,
        -96
      ],
      "id": "a726fb90-6dd7-44b5-9782-4b09735b011c",
      "name": "Upload record Part 1",
      "credentials": {
        "googlePalmApi": {
          "id": "dalJQLi43UfwZY60",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b7684e14-26f2-4fd1-aafd-46d1bc5ea7ca",
              "leftValue": "={{ $('On form submission').item.binary.audio_part2 }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        -96
      ],
      "id": "4c0eb801-369d-401e-85ac-c19232def6f9",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "inputType": "binary",
        "binaryPropertyName": "=audio_part2"
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        672,
        -720
      ],
      "id": "a84c3006-8f91-48ff-923b-5cddb7164d44",
      "name": "Upload record Part 2",
      "credentials": {
        "googlePalmApi": {
          "id": "dalJQLi43UfwZY60",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a495f1b8-7ff5-4d9d-9175-f53e5e8d93ab",
              "name": "audio_part2",
              "value": "={{ $('On form submission').item.binary.audio_part2 }}",
              "type": "binary"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -560
      ],
      "id": "e43177df-b66b-443c-9ca6-ec128cc47f60",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "audioUrls": "={{ $json.fileUri }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        112,
        -96
      ],
      "id": "80d47121-f610-46a6-9f24-4fb8a4d3f5b1",
      "name": "Transcribe Part 1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "dalJQLi43UfwZY60",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "audioUrls": "={{ $json.fileUri }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        864,
        -560
      ],
      "id": "16adaf66-0f04-40cb-ab93-9af484d2754e",
      "name": "Transcribe Part 2",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "dalJQLi43UfwZY60",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Récupérer le texte de la Partie 1 (Toujours présent)\n// On remonte au noeud spécifique\nconst text1 = $('Transcribe Part 1').item.json.text || $('Transcribe Part 1').item.json.content.parts[0].text;\n\n// 2. Récupérer le texte de la Partie 2 (Si elle existe)\nlet text2 = \"\";\n\n// On vérifie si le noeud \"Transcribe Part 2\" a été exécuté\ntry {\n    // Si ce noeud existe dans l'historique d'exécution\n    const part2Node = $('Transcribe Part 2');\n    if (part2Node && part2Node.item) {\n        text2 = part2Node.item.json.text || part2Node.item.json.content.parts[0].text;\n    }\n} catch (e) {\n    // Si le noeud n'a pas été exécuté (car on est passé par la branche False), on ne fait rien\n}\n\n// 3. Concaténer\nconst fullTranscript = text1 + \"\\n\\n [--- FIN PARTIE 1 / DÉBUT PARTIE 2 ---] \\n\\n\" + text2;\n\n// 4. Sortie standardisée pour la suite du workflow\nreturn {\n    text: fullTranscript\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -80
      ],
      "id": "019e9ad8-e35b-4072-a9b3-fd555dd03d26",
      "name": "Fusion des transcripts"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload record Part 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profiling Prospect": {
      "main": [
        [
          {
            "node": "Parsing variables du profiling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsing variables du profiling": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring": {
      "main": [
        [
          {
            "node": "Mettre en variable le scoring output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mettre en variable le scoring output": {
      "main": [
        [
          {
            "node": "Wait 5s2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Profile Formatage pour PipeDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First email": {
      "main": [
        [
          {
            "node": "Formatage Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatage Email": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Profiling Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s2": {
      "main": [
        [
          {
            "node": "First email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a person": {
      "main": [
        [
          {
            "node": "Prospect opty retrieval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prospect opty retrieval": {
      "main": [
        [
          {
            "node": "Saving Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Formatage pour PipeDrive": {
      "main": [
        [
          {
            "node": "Search a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saving Profile": {
      "main": [
        [
          {
            "node": "Calcul Probabilité",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stratège de Relance": {
      "main": [
        [
          {
            "node": "Parsing Date Relance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsing Date Relance": {
      "main": [
        [
          {
            "node": "Create an activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an activity": {
      "main": [
        []
      ]
    },
    "Calcul Probabilité": {
      "main": [
        [
          {
            "node": "Update Probability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Probability": {
      "main": [
        [
          {
            "node": "Create Scoring Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Scoring Note": {
      "main": [
        [
          {
            "node": "Stratège de Relance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload record Part 1": {
      "main": [
        [
          {
            "node": "Transcribe Part 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fusion des transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload record Part 2": {
      "main": [
        [
          {
            "node": "Transcribe Part 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Upload record Part 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Part 1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion des transcripts": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Part 2": {
      "main": [
        [
          {
            "node": "Fusion des transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "308f84fc-53e2-41e7-8ff7-501f7a822848",
  "activeVersionId": "3f1c58dd-e663-421b-815a-4eedff7b3eaf",
  "versionCounter": 58,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-01T01:45:52.138Z",
      "createdAt": "2026-02-01T01:45:52.138Z",
      "role": "workflow:owner",
      "workflowId": "vlWf2-bNcX29uIJtTm7dM",
      "projectId": "xRj21pIeS8ANried",
      "project": {
        "updatedAt": "2026-02-01T01:49:10.015Z",
        "createdAt": "2026-02-01T01:44:57.704Z",
        "id": "xRj21pIeS8ANried",
        "name": "Djamel Bourouba <debourouba+n8n_server@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "9278525b-dc84-4766-bb1c-38b3cf0bea4d"
      }
    }
  ]
}