workflows/vlWf2-bNcX29uIJtTm7dM.json
{
  "updatedAt": "2026-02-19T20:38:09.041Z",
  "createdAt": "2026-01-14T01:23:56.258Z",
  "id": "vlWf2-bNcX29uIJtTm7dM",
  "name": "Automated Sales Post-Call Processing",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu es un analyste IA expert en vente consultative et en analyse de conversation client. Ta mission est d'analyser attentivement le transcript d'appel de découverte ci-dessous pour générer un profil client synthétique, structuré et orienté action commerciale.\n\n=== TRANSCRIPT DE L'APPEL ===\n\"\"\"\n{{ $('Aggregate').item.json.text }}\n\"\"\"\n\n=== OBJECTIF PRINCIPAL ===\nExtraire TOUS les éléments pertinents du transcript permettant de :\n1. Créer des communications de suivi hautement personnalisées (emails, appels)\n2. Démontrer une écoute active et un sentiment d'interaction humaine réelle\n3. Alimenter une stratégie de suivi visant à faire progresser l'opportunité jusqu'à la clôture\n\n=== INSTRUCTIONS CRITIQUES ===\n- Lis l'INTÉGRALITÉ du transcript avec attention\n- Extrais UNIQUEMENT des informations présentes dans le transcript\n- Si une information n'existe pas, indique \"[Non spécifié]\" - NE FABRIQUE RIEN\n- Formule chaque point de manière ACTIONNABLE pour l'équipe de vente\n- Détecte le TON CONVERSATIONNEL utilisé par le Vendeur : \"Tu\" (tutoiement) ou \"Vous\" (vouvoiement)\n- Capture les ÉMOTIONS, HÉSITATIONS et MOMENTS FORTS du prospect\n\n=== FORMAT DE SORTIE STRICT (JSON UNIQUEMENT) ===\nRéponds UNIQUEMENT avec un objet JSON valide, sans texte avant ou après :\n\n{\n  \"ton_conversationnel\": \"Tu | Vous\",\n  \"identite\": {\n    \"prenom\": \"String\",\n    \"source_acquisition\": \"Comment a-t-il découvert la formation (ex: groupe Facebook, référence)\",\n    \"caracteristiques_perso\": \"Âge estimé, dynamisme, traits saillants mentionnés\"\n  },\n  \"situation_familiale\": {\n    \"statut\": \"Célibataire | En couple | Marié(e) | Avec enfants\",\n    \"details\": \"Vit seul, avec conjoint, nombre/âge enfants à charge, etc.\"\n  },\n  \"situation_professionnelle\": {\n    \"profession\": \"Titre et secteur d'activité\",\n    \"employeur_type\": \"Privé | Public provincial | Public fédéral | Autonome\",\n    \"regime_retraite\": \"RREGOP, REER collectif, ou autre régime spécifique\",\n    \"stabilite\": \"Perception de stabilité ou intention de changement\"\n  },\n  \"situation_financiere\": {\n    \"dettes\": \"Type, montant approximatif, taux (ex: Marge crédit 9%, 25K$)\",\n    \"epargne_investissements\": \"REER/CÉLI/CELIAPP, FTQ, placements bancaires, montants si mentionnés\",\n    \"niveau_connaissance\": \"Débutant | Intermédiaire | Confus | Solide base\",\n    \"autres_donnees\": \"2ème emploi, revenus additionnels, projets financiers en cours\"\n  },\n  \"objectifs_projets\": {\n    \"objectif_principal\": \"Liberté financière | Indépendance | Sécurité retraite\",\n    \"court_terme\": \"Voyages, achats spécifiques, remboursement dettes\",\n    \"moyen_long_terme\": \"Retraite anticipée, achat immobilier, legs familial\"\n  },\n  \"points_douloureux\": [\n    \"Stress lié à l'endettement\",\n    \"Confusion REER/CÉLI/CELIAPP\",\n    \"Frais de gestion élevés ressentis\",\n    \"Impression de 'laisser de l'argent sur la table'\",\n    \"Manque de clarté sur la stratégie\",\n    \"Aversion au risque vs croissance\"\n  ],\n  \"attentes_formation\": {\n    \"vision_ultime\": \"Contrôle total, autonomie décisionnelle, compréhension profonde\",\n    \"besoins_specifiques\": \"Comprendre fiscalité, optimiser placements, stratégie retraite, réduire frais\"\n  },\n  \"logistique\": {\n    \"accompagnement\": \"Souhaite suivre avec conjoint/enfant même adresse\",\n    \"dates_souhaitees\": \"Dates ou périodes mentionnées\",\n    \"date_rappel\": \"Date précise pour prochain contact\",\n    \"contraintes\": \"Disponibilités limitées, préférences horaires\"\n  },\n  \"notes_personnalisation\": \"Anecdotes marquantes, émotions fortes exprimées, questions particulièrement révélatrices, passions mentionnées, réactions spécifiques à des informations données - tout élément unique permettant d'humaniser le suivi\",\n  \"next_steps\": [\n    \"Action 1 convenue lors de l'appel\",\n    \"Action 2 à effectuer par le vendeur\",\n    \"Action 3 attendue du prospect\"\n  ],\n  \"niveau_engagement\": {\n    \"score\": \"1-10 (10 = très engagé)\",\n    \"indicateurs\": \"Enthousiasme vocal, questions précises posées, objections soulevées, engagement envers les next steps\"\n  },\n  \"objections_freins\": [\n    \"Prix mentionné comme frein\",\n    \"Besoin d'en parler au conjoint\",\n    \"Timing (pas maintenant)\",\n    \"Scepticisme sur la valeur\"\n  ]\n}\n\n=== EXEMPLES DE FORMULATION ACTIONNABLE ===\n✅ BON : \"Endettement marge crédit 25K$ à 9% - stress financier important exprimé\"\n❌ MAUVAIS : \"A des dettes\"\n\n✅ BON : \"Confusion totale REER/CÉLI - ne sait pas lequel prioriser pour économie d'impôt\"\n❌ MAUVAIS : \"Ne connaît pas les produits\"\n\n✅ BON : \"Rêve : Retraite à 55 ans au Portugal - a mentionné 3 fois, voix excitée\"\n❌ MAUVAIS : \"Veut prendre sa retraite\"\n\n=== VALIDATION FINALE ===\nAvant de répondre, vérifie :\n☐ Le JSON est valide (pas de virgules manquantes, guillemets corrects)\n☐ Aucune information inventée\n☐ Ton conversationnel détecté (Tu/Vous)\n☐ Points douloureux = obstacles à résoudre\n☐ Attentes formation = bénéfices recherchés\n☐ Notes personnalisation = éléments émotionnels/uniques\n\nRÉPONDS MAINTENANT UNIQUEMENT AVEC LE JSON, RIEN D'AUTRE."
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1216,
        -80
      ],
      "id": "2d0c2844-0f1f-43f5-ae68-2c2de23062bb",
      "name": "Profiling Prospect",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "JsC4Y3jPEdAiMC45",
          "name": "Google Gemini n8n - Paid"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. On récupère le texte brut généré par Gemini\n// Le chemin dépend de la structure exacte que tu m'as montrée\nconst rawText = $input.first().json.content.parts[0].text;\n\n// 2. Sécurité : On nettoie le texte au cas où Gemini aurait mis des balises ```json autour\nconst cleanText = rawText.replace(/```json|```/g, '').trim();\n\n// 3. On convertit le texte en véritable objet JSON utilisable par n8n\nreturn JSON.parse(cleanText);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -80
      ],
      "id": "6a495a31-b4ed-45b9-8112-0430a0f0bf8c",
      "name": "Parsing variables du profiling"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu es un Directeur Commercial expert en vente consultative (méthodologie SPIN/MEDDIC) spécialisé dans la formation High-Ticket (B2C).\nTon rôle est d'analyser froidement les données du prospect ET la disponibilité des stocks (calendrier) pour évaluer la qualité de l'opportunité, la faisabilité logistique immédiate et le potentiel de conversion à long terme.\n\n=== DONNÉES D'ENTRÉE ===\n\n1. PROFIL DU PROSPECT (Besoins & Contraintes) :\n\"\"\"\n{{ JSON.stringify($('Parsing variables du profiling').item.json) }}\n\"\"\"\n\n2. CONTEXTE CALENDRIER (Dates réellement ouvertes à la vente dans Pipedrive) :\n\"\"\"\n{{ JSON.stringify($('Cohortes ouvertes').item.json.cohortes_disponibles) }}\n\"\"\"\n\n=== INSTRUCTIONS D'ANALYSE CRITIQUE ===\n\n**ÉTAPE 1 : VÉRIFICATION DE LA DISPONIBILITÉ (Le \"Reality Check\")**\nAvant de scorer l'envie du prospect, vérifie si nous avons du stock pour lui.\n- Analyse le champ `logistique.dates_souhaitees` ou `contraintes` dans le PROFIL.\n- Compare avec les dates listées dans `CONTEXTE_CALENDRIER`.\n- **RÈGLE IMPÉRATIVE :** Si le prospect demande une période (ex: \"Mai\") qui ne figure PAS dans le `CONTEXTE_CALENDRIER` (ex: la liste s'arrête en Mars), tu NE PEUX PAS le classer en CAS_1 ou CAS_2. C'est mathématiquement impossible. Ce sera automatiquement un CAS_3.\n\n**ÉTAPE 2 : ÉVALUATION COMMERCIALE (5 Dimensions)**\n1.  **Douleur (Pain)** : Intensité du problème (Hémorragie vs Gêne).\n2.  **Budget** : Capacité réelle à payer 900$ (Stabilité d'emploi, revenus).\n3.  **Urgence** : Pourquoi agir maintenant ? (Événement déclencheur).\n4.  **Fit** : Coachabilité, dynamisme et attitude.\n5.  **Décision** : Pouvoir de signature (Seul ou doit en parler).\n\n**ÉTAPE 3 : ALGORITHME DE CALCUL DES SCORES**\nPour garantir la cohérence entre tous les prospects, applique strictement ces pondérations :\n\n1.  **SCORE QUALITÉ PROFIL (0 à 10)** : \"Est-ce le Client Idéal ?\"\n    - Pondération : Douleur (40%) + Budget (30%) + Coachabilité (30%).\n    - IGNORE le timing ou le calendrier ici. Un prospect parfait qui veut acheter dans 6 mois reste un 10/10.\n\n2.  **PROBABILITÉ CLOSING IMMÉDIAT (0 à 100%)** : \"Va-t-il payer sous 7 jours ?\"\n    - C'est le Score Qualité pondéré par l'Urgence et la Logistique.\n    - **RÈGLE D'OR :** Si la date souhaitée n'est PAS dans le `CONTEXTE_CALENDRIER`, ce score doit être **inférieur à 20%**.\n\n3.  **PROBABILITÉ CLOSING GLOBAL (LTV) (0 à 100%)** : \"Finira-t-il par acheter un jour ?\"\n    - Représente la valeur réelle du lead dans le pipeline.\n    - Si le Score Qualité est haut (>8) et l'intention est claire, ce score doit être **très élevé (>80%)**, même si le closing immédiat est faible.\n\n=== CLASSIFICATION DU SCÉNARIO (Règles de Suivi) ===\nTu dois classer le prospect dans l'une des catégories suivantes en fonction du croisement entre son intention et la réalité du calendrier :\nCAS_1_PREINSCRIT (Closing Imminent)\nCondition : Le prospect a donné un accord verbal ferme pour une cohorte spécifique.\nVérification Logistique : La date choisie DOIT figurer dans le CONTEXTE_CALENDRIER.\nAction : Envoi immédiat du lien de paiement et du calendrier détaillé.\nCAS_2_REFLEXION_ACTIVE (Closing Court Terme)\nCondition : Le prospect est très intéressé par les cohortes actuellement ouvertes (prochaines semaines), mais a un obstacle mineur à régler sous 24-48h.\nObstacles types : Doit valider l'agenda avec son conjoint, vérifier une disponibilité professionnelle ponctuelle, ou attendre un virement.\nVérification Logistique : Il existe au moins une date compatible dans le CONTEXTE_CALENDRIER.\nAction : Envoi des dates disponibles et relance prévue sous 48h.\nCAS_3_FUTUR_PLANIFIE (Nurturing / Attente Dates)\nCondition : Le prospect est convaincu et engagé, mais son timing de démarrage est volontairement décalé vers une période précise.\nVérification Logistique : La période souhaitée (ex: \"Mai\", \"Juin\") NE FIGURE PAS encore dans le CONTEXTE_CALENDRIER.\nCas type (Catalina) : \"Je veux le faire, mais je ne peux qu'en Mai\".\nAction : Confirmation de l'intérêt, promesse de recontact à une date précise (ex: mi-avril) dès que le nouveau calendrier sort.\nCAS_3_FUTUR_REPORT_LONG (Nurturing / Relance)\nCondition : Le prospect a un intérêt réel mais fait face à un bloquant majeur temporaire (déménagement, changement d'emploi, problème de santé, voyage prolongé).\nTiming : Le report est de 3 mois ou plus.\nAction : Mise en sommeil du dossier et programmation d'une relance \"courtoisie\" à long terme.\nCAS_4_NON_QUALIFIE (Disqualification)\nCondition : Le prospect ne correspond pas à la cible ou ne signera jamais.\nMotifs : Absence totale de budget (et pas de volonté de trouver une solution), aucune douleur financière ressentie, attitude arrogante/non-coachable, ou a déjà résolu son problème ailleurs.\nAction : Arrêt du suivi commercial actif.\n⚠️ NOTE DE SÉCURITÉ POUR L'IA (LOGIQUE DE DÉCISION) :\nPriorité Logistique : Si le prospect demande une date qui n'est pas dans le calendrier fourni, il est INTERDIT de le classer en CAS_1 ou CAS_2. Il bascule automatiquement en CAS_3_FUTUR_PLANIFIE.\nDétection du \"Faux Futur\" : Si le prospect dit \"plus tard\" de manière vague sans donner de période (ex: \"on verra plus tard\"), analyse s'il s'agit d'une objection de budget ou de peur. Si c'est le cas, classe-le en CAS_2 (si tu penses qu'une relance peut aider) ou CAS_4 (si c'est une excuse polie).\nLe cas \"Conjoint\" : Si le prospect doit parler à son conjoint pour une date proche, c'est un CAS_2. S'il doit lui en parler pour une date lointaine, c'est un CAS_3.\n\n\n=== FORMAT DE SORTIE OBLIGATOIRE (JSON uniquement) ===\nRéponds uniquement avec un objet JSON strict, sans markdown :\n{\n  \"analyse_scores\": {\n    \"score_qualite_profil\": 0,\n    \"probabilite_closing_immediat\": 0,\n    \"probabilite_closing_global\": 0,\n    \"explication_ecart\": \"String courte (ex: Profil idéal mais bloqué par un cours de français jusqu'en avril)\"\n  },\n  \"scenario_logistique\": \"CAS_1_PREINSCRIT | CAS_2_REFLEXION_ACTIVE | CAS_3_FUTUR_PLANIFIE | CAS_3_FUTUR_REPORT_LONG | CAS_4_NON_QUALIFIE\",\n  \"details_criteres\": {\n    \"douleur\": {\n      \"note\": 0,\n      \"observation\": \"String courte\"\n    },\n    \"budget\": {\n      \"note\": 0,\n      \"observation\": \"String courte\"\n    },\n    \"urgence\": {\n      \"note\": 0,\n      \"observation\": \"String courte\"\n    },\n    \"coachabilite\": {\n      \"note\": 0,\n      \"observation\": \"String courte\"\n    },\n    \"decision_obstacles\": {\n      \"note\": 0,\n      \"observation\": \"String courte (ex: Doit valider avec conjoint)\"\n    }\n  },\n  \"analyse_expert\": {\n    \"force_majeure\": \"String (Le levier principal pour closer)\",\n    \"risque_principal\": \"String (Ce qui pourrait empêcher la vente)\",\n    \"conseil_closing\": \"String (Conseil tactique pour le prochain contact)\",\n    \"justification_scenario\": \"String (Justification précise basée sur le croisement Date Souhaitée vs Calendrier Disponible)\"\n  }\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1888,
        -80
      ],
      "id": "d69e2d9c-fad3-47b1-b18b-43044da4de2f",
      "name": "Scoring",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7uaXCLQUwR1tRU4Z",
          "name": "Google Gemini Api - Free Tier"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.first().json.content.parts[0].text;\nconst cleanText = rawText.replace(/```json|```/g, '').trim();\nreturn JSON.parse(cleanText);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        -80
      ],
      "id": "523cbc13-6dc7-47c3-b9c8-a1986f365438",
      "name": "Mettre en variable le scoring output"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=**[K] CONTEXTE & DONNÉES :**\nTu agis en tant qu'expert en vente consultative pour Educfinance (20 ans d'expérience).\nNous sommes le : {{ $now.format('yyyy-MM-dd') }}\n\nDONNÉES À UTILISER :\n- PROFIL PROSPECT : \"\"\" {{ JSON.stringify($('Parsing variables du profiling').item.json) }} \"\"\"\n- DÉCISION SCORING : \"\"\" {{ JSON.stringify($('Mettre en variable le scoring output').item.json) }} \"\"\"\n- COHORTES_OUVERTES : \"\"\" {{ JSON.stringify($('Cohortes ouvertes').item.json.cohortes_disponibles) }} \"\"\"\n\n**[R] RÔLE & TON :**\nTon ton est empathique, professionnel, sobre et rassurant. Tu es un expert méticuleux.\n\n**RÈGLES D'OR (FORMAT HTML STRICT) :**\n1. **FORMAT DE SORTIE** : Le contenu de \"Corps\" doit être du **HTML valide**. N'utilise JAMAIS de syntaxe Markdown (pas de `**`, pas de `##`, pas de `|`).\n2. **EMOJIS** : INTERDICTION totale d'utiliser des emojis, SAUF un seul : le doigt pointeur (👉) uniquement pour le lien d'inscription final.\n3. **GRAS** : Utilise la balise `<b>` pour les mots importants.\n4. **LISTES** : Utilise `<ul>` et `<li>` pour les listes à puces.\n5. **SAUTS DE LIGNE** : Utilise `<br><br>` pour séparer les paragraphes.\n6. **JSON** : Ta réponse finale doit être un objet JSON valide. Attention à bien échapper les guillemets doubles à l'intérieur du HTML si nécessaire (ou utilise des guillemets simples pour les attributs HTML).\n\n**[S] STRUCTURE DU COURRIEL (HTML) :**\n\n1. **Salutation** : \"Bonjour {{ $('Parsing variables du profiling').item.json.identite.prenom }},\"\n\n2. **Introduction** : Remercier pour l'échange et valider la compréhension.\n\n3. **Récapitulatif & Diagnostic** :\n   - Utilise une liste HTML `<ul>` pour résumer 3 points forts (Douleurs/Objectifs).\n   - Mets les mots clés en `<b>gras</b>`.\n\n4. **La Solution \"En Route!\"** :\n   - Présente la solution.\n   - Liste `<ul>` des 5 piliers : Outils, Véhicules, Accompagnement, Rencontres, Plateforme.\n\n5. **Logistique & Calendrier (LOGIQUE CONDITIONNELLE)** :\n   Applique le scénario : \"{{ $('Mettre en variable le scoring output').item.json.scenario_logistique }}\"\n\n   - **SI `CAS_1_PREINSCRIT`** :\n     *   Confirme la pré-inscription.\n     *   Génère un **TABLEAU HTML** (`<table>`) pour l'agenda.\n     *   *Style du tableau* : `<table border='1' cellpadding='5' cellspacing='0' style='border-collapse:collapse; width:100%; border:1px solid #ddd;'>`\n     *   *En-têtes* : `<th style='background-color:#f2f2f2;'>Module</th>`, `<th style='background-color:#f2f2f2;'>Accès cours</th>`, `<th style='background-color:#f2f2f2;'>Rencontre Live (20h00)</th>`.\n     *   *Algorithme dates* :\n         - J0 = Date Cohorte (Mercredi)\n         - J+1 = Accès (Jeudi)\n         - J+7 = Rencontre (Mercredi suivant)\n     *   Remplis les lignes (`<tr>`) avec les dates calculées pour : Embarquement, Destination, Retraite, Fiscalité, Véhicules, Outils.\n\n   - **SI `CAS_2_REFLEXION`** :\n     *   Analyse les contraintes.\n     *   Liste les dates compatibles trouvées dans `COHORTES_OUVERTES`.\n\n   - **SI `CAS_3_FUTUR`** ou **`CAS_4`** :\n     *   Message d'attente ou de clôture courtois.\n\n6. **Appel à l'action (CTA)** :\n   - **SI `CAS_1` ou `CAS_2`** :\n     *   Insère le lien EXACTEMENT ainsi :\n     *   `👉 <b><a href=\"https://educfinance.thrivecart.com/en-route/?affiliate=djamelbourouba\">INSCRIPTION ICI</a></b>`\n     *   Mentionne le paiement en 3x sans frais.\n\n7. **Signature** : Ne termine JAMAIS l'email par une formule de politesse (pas de 'Bien cordialement') ni par une signature. Arrête-toi juste après le Call to Action.\n\n**[F] FORMAT DE SORTIE (JSON UNIQUEMENT) :**\n{\n  \"Objet\": \"Sujet du mail\",\n  \"Corps\": \"Tout le code HTML du mail ici (tout sur une ligne ou avec des \\\\n échappés).\"\n}"
            }
          ]
        },
        "jsonOutput": true,
        "builtInTools": {},
        "options": {
          "temperature": 0.6,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        3200,
        -208
      ],
      "id": "204ff1a2-f5df-4742-8a33-6c98d386a224",
      "name": "First email",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "7uaXCLQUwR1tRU4Z",
          "name": "Google Gemini Api - Free Tier"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.first();\nlet rawText = inputItem.json.text || (inputItem.json.content && inputItem.json.content.parts ? inputItem.json.content.parts[0].text : \"\") || \"\";\n\n// 1. Nettoyage JSON et Markdown\nrawText = rawText.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n\nlet subject = \"Suivi de notre échange\"; \nlet bodyContent = rawText;\n\ntry {\n    const parsed = JSON.parse(rawText);\n    if (parsed.Objet) subject = parsed.Objet;\n    if (parsed.Corps) bodyContent = parsed.Corps;\n} catch (e) {}\n\n// --- CONVERSION AVANCÉE ---\nfunction formatEmailHtml(text) {\n    return text\n        // Nettoyage des titres Markdown (### Titre -> Gras aéré)\n        .replace(/^#+\\s+(.*)$/gm, '<div style=\"margin-top: 15px; margin-bottom: 5px;\"><b>$1</b></div>')\n        \n        // Gras standard\n        .replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>')\n        \n        // Liens\n        .replace(/\\[(.*?)\\]\\((.*?)\\)/g, '<a href=\"$2\" style=\"color: #007BFF; text-decoration: underline;\">$1</a>')\n        \n        // Listes à puces (groupées sans trop d'espace entre elles)\n        .replace(/^\\s*[\\-\\*]\\s+(.*)$/gm, '<div style=\"margin-left: 15px; margin-bottom: 2px;\">• $1</div>')\n        \n        // Gestion des paragraphes (Double saut de ligne -> Bloc avec marge)\n        .split(/\\n\\n+/).map(para => {\n            if (para.includes('<div')) return para; // Ne pas toucher si c'est déjà formaté\n            return `<div style=\"margin-bottom: 12px;\">${para.replace(/\\n/g, \"<br>\")}</div>`;\n        }).join(\"\");\n}\n\nsubject = subject.replace(/[#\\*]/g, \"\"); // Nettoyer le sujet\nconst htmlBody = formatEmailHtml(bodyContent);\n\nconst finalHtml = `\n<div style=\"font-family: 'Segoe UI', Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #1a1a1a; max-width: 600px; margin: 0 auto;\">\n    ${htmlBody}\n    <div style=\"margin-top: 30px; padding-top: 15px; border-top: 1px solid #eee; color: #666; font-size: 14px;\">\n        Bien cordialement,<br>\n        <strong>L'équipe Educfinance</strong>\n    </div>\n</div>\n`;\n\nreturn { json: { email_subject: subject, email_body: finalHtml } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3536,
        -208
      ],
      "id": "4031f369-c645-4310-8b80-6fe5168591a1",
      "name": "Formatage Email"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1072,
        -80
      ],
      "id": "2c398dea-49db-4237-81f8-829df7a353c8",
      "name": "Wait 10s",
      "webhookId": "9b98eab1-09bf-44d4-8dee-bb222e6f060f"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1744,
        -80
      ],
      "id": "284ff9cd-1bf4-4a76-aac5-129ddee1129d",
      "name": "Wait 5s",
      "webhookId": "f35dfaf1-fca3-4fab-a31f-b594bc8567ae"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3008,
        -208
      ],
      "id": "fe753dea-b9df-48f9-af78-2382a113155b",
      "name": "Wait 5s2",
      "webhookId": "0dc364f7-21e8-43cb-8df4-95520b6b7fb6"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $('Wait 10s').item.json.metadata.email }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2592,
        -80
      ],
      "id": "27d434c5-dede-486d-bb01-435cd9006e61",
      "name": "Search a person",
      "credentials": {
        "pipedriveApi": {
          "id": "1h2YxF7rlkyWc41n",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.pipedrive.com/v1/persons/{{ $json.id }}/deals",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "open"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2800,
        -80
      ],
      "id": "74a18ac3-0f2b-40f7-be94-3d3e216053fa",
      "name": "Prospect opty retrieval",
      "credentials": {
        "pipedriveApi": {
          "id": "1h2YxF7rlkyWc41n",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "note",
        "content": "={{ $json.content.parts[0].text }}",
        "additionalFields": {
          "deal_id": "={{ $('Prospect opty retrieval').item.json.data[0].id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3088,
        272
      ],
      "id": "d9c0e5f0-b068-4b5e-91da-8e8615d9defa",
      "name": "Saving Profile",
      "credentials": {
        "pipedriveApi": {
          "id": "1h2YxF7rlkyWc41n",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// FORMATAGE PROFIL POUR PIPEDRIVE\n// ========================================\n\n// 1. RÉCUPÉRATION DES DONNÉES\nconst profiling = $('Parsing variables du profiling').item.json;\nconst scoring = $('Mettre en variable le scoring output').item.json;\n\n// 2. EXTRACTION DES VARIABLES PRINCIPALES\nconst prenom = profiling.identite?.prenom || \"Prospect\";\nconst ton = profiling.ton_conversationnel || \"Vous\";\nconst source = profiling.identite?.source_acquisition || \"Non spécifié\";\n\n// Situation personnelle\nconst statut_familial = profiling.situation_familiale?.statut || \"Non spécifié\";\nconst details_famille = profiling.situation_familiale?.details || \"\";\n\n// Situation professionnelle\nconst profession = profiling.situation_professionnelle?.profession || \"Non spécifié\";\nconst employeur = profiling.situation_professionnelle?.employeur_type || \"Non spécifié\";\nconst regime_retraite = profiling.situation_professionnelle?.regime_retraite || \"Non spécifié\";\n\n// Situation financière\nconst dettes = profiling.situation_financiere?.dettes || \"Non spécifié\";\nconst epargne = profiling.situation_financiere?.epargne_investissements || \"Non spécifié\";\nconst niveau_connaissance = profiling.situation_financiere?.niveau_connaissance || \"Non spécifié\";\n\n// Objectifs\nconst objectif_principal = profiling.objectifs_projets?.objectif_principal || \"Non spécifié\";\nconst court_terme = profiling.objectifs_projets?.court_terme || \"Non spécifié\";\nconst long_term = profiling.objectifs_projets?.moyen_long_terme || \"Non spécifié\"; // <-- CORRECTION ICI\n\n// Logistique\nconst cohorte = profiling.logistique?.dates_souhaitees || \"Non spécifié\";\nconst date_rappel = profiling.logistique?.date_rappel || \"Non spécifié\";\nconst accompagnement = profiling.logistique?.accompagnement || \"Non spécifié\";\nconst contraintes = profiling.logistique?.contraintes || \"Non spécifié\";\n\n// Notes spéciales\nconst notes_perso = profiling.notes_personnalisation || \"Aucune note particulière\";\n\n// Scoring (Utilisation des nouvelles clés)\nconst score_global = scoring?.score_qualite_profil || \"N/A\";\nconst probabilite = scoring?.probabilite_closing_immediat || \"N/A\";\nconst next_action = scoring?.analyse_expert?.conseil_closing || \"À définir\";\n\n// Définition de la catégorie et des couleurs (Gardé pour les Custom Fields)\nconst scoreValue = parseFloat(score_global);\nlet categorie = \"COLD\";\nlet couleurFond = \"#6b7280\"; // Gris\nlet couleurTexte = \"#000000\"; // Noir\n\nif (scoreValue >= 8) {\n    categorie = \"HOT\";\n    couleurFond = \"#10b981\"; // Vert\n} else if (scoreValue >= 5) {\n    categorie = \"WARM\";\n    couleurFond = \"#f59e0b\"; // Orange\n} else if (scoreValue > 0) {\n    categorie = \"LUKEWARM\";\n    couleurFond = \"#ef4444\"; // Rouge\n}\n\n// 3. CONSTRUCTION DE LA NOTE HTML ENRICHIE (SANS LE BLOC SCORE)\nlet noteHtml = `\n<div style=\"font-family: Arial, sans-serif; line-height: 1.4; font-size: 14px; color: #333333;\">\n\n<div style=\"background: #007BFF; color: white; padding: 12px; border-radius: 6px; margin-bottom: 10px;\">\n  <h2 style=\"margin: 0; font-size: 16px;\">📋 PROFIL PROSPECT - ${prenom.toUpperCase()}</h2>\n  <p style=\"margin: 5px 0 0 0; font-size: 12px;\">Ton: ${ton} • Source: ${source}</p>\n</div>\n\n<!-- BLOC SCORE SUPPRIMÉ ICI - IL SERA AJOUTÉ PAR L'IA EN HAUT -->\n\n<div style=\"background: #FFFFFF; padding: 12px; border-left: 4px solid #007BFF; margin-bottom: 10px;\">\n  <h3 style=\"margin-top: 0; font-size: 14px; color: #000000;\">👤 IDENTITÉ & SITUATION</h3>\n  <p style=\"margin-bottom: 5px;\"><strong>Familial:</strong> ${statut_familial}${details_famille ? ' - ' + details_famille : ''}</p>\n  <p style=\"margin-bottom: 0;\"><strong>Professionnel:</strong> ${profession} (${employeur})</p>\n  ${regime_retraite !== \"Non spécifié\" ? `<p style=\"margin-top: 5px;\"><strong>Retraite:</strong> ${regime_retraite}</p>` : ''}\n</div>\n\n<div style=\"background: #FFFFFF; padding: 12px; border-left: 4px solid #10b981; margin-bottom: 10px;\">\n  <h3 style=\"margin-top: 0; font-size: 14px; color: #000000;\">💰 SITUATION FINANCIÈRE</h3>\n  <p style=\"margin-bottom: 5px;\"><strong>Dettes:</strong> ${dettes}</p>\n  <p style=\"margin-bottom: 5px;\"><strong>Épargne/Investissements:</strong> ${epargne}</p>\n  <p style=\"margin-bottom: 0;\"><strong>Niveau de connaissance:</strong> ${niveau_connaissance}</p>\n</div>\n\n<div style=\"background: #FFFFFF; padding: 12px; border-left: 4px solid #8b5cf6; margin-bottom: 10px;\">\n  <h3 style=\"margin-top: 0; font-size: 14px; color: #000000;\">🎯 OBJECTIFS</h3>\n  <p style=\"margin-bottom: 5px;\"><strong>Principal:</strong> ${objectif_principal}</p>\n  <p style=\"margin-bottom: 5px;\"><strong>Court terme:</strong> ${court_terme}</p>\n  <p style=\"margin-bottom: 0;\"><strong>Moyen/Long terme:</strong> ${long_term}</p>\n</div>\n\n<div style=\"background: #FFF0F0; padding: 12px; border-left: 4px solid #CC0000; margin-bottom: 10px;\">\n  <h3 style=\"margin-top: 0; font-size: 14px; color: #CC0000;\">🔥 POINTS DOULOUREUX</h3>\n  <ul style=\"margin: 0; padding-left: 20px; margin-top: 5px;\">`;\n\nif (profiling.points_douloureux && profiling.points_douloureux.length > 0) {\n  profiling.points_douloureux.forEach(pain => {\n    noteHtml += `<li style=\"margin-bottom: 3px;\">${pain}</li>`;\n  });\n} else {\n  noteHtml += `<li>Aucun point douloureux identifié</li>`;\n}\n\nnoteHtml += `</ul>\n</div>\n\n<div style=\"background: #FFFFFF; padding: 12px; border-left: 4px solid #10b981; margin-bottom: 10px;\">\n  <h3 style=\"margin-top: 0; font-size: 14px; color: #000000;\">✨ ATTENTES FORMATION</h3>\n  <p style=\"margin-bottom: 5px;\"><strong>Vision:</strong> ${profiling.attentes_formation?.vision_ultime || \"Non spécifié\"}</p>\n  <p style=\"margin-bottom: 0;\"><strong>Besoins:</strong> ${profiling.attentes_formation?.besoins_specifiques || \"Non spécifié\"}</p>\n</div>\n\n<div style=\"background: #FFFFFF; padding: 12px; border-left: 4px solid #f59e0b; margin-bottom: 10px;\">\n  <h3 style=\"margin-top: 0; font-size: 14px; color: #000000;\">📅 LOGISTIQUE</h3>\n  <p style=\"margin-bottom: 5px;\"><strong>Cohorte souhaitée:</strong> ${cohorte}</p>\n  ${date_rappel !== \"Non spécifié\" ? `<p style=\"margin-bottom: 5px;\"><strong>📞 Rappel prévu:</strong> ${date_rappel}</p>` : ''}\n  ${accompagnement !== \"Non spécifié\" ? `<p style=\"margin-bottom: 5px;\"><strong>Accompagnement:</strong> ${accompagnement}</p>` : ''}\n  ${contraintes !== \"Non spécifié\" ? `<p style=\"margin-bottom: 0;\"><strong>Contraintes:</strong> ${contraintes}</p>` : ''}\n</div>\n\n<div style=\"background: #FFFFFF; padding: 12px; border-left: 4px solid #3b82f6; margin-bottom: 10px;\">\n  <h3 style=\"margin-top: 0; font-size: 14px; color: #000000;\">📋 PROCHAINES ÉTAPES</h3>\n  <ol style=\"margin: 0; padding-left: 20px; margin-top: 5px;\">`;\n\nif (profiling.next_steps && profiling.next_steps.length > 0) {\n  profiling.next_steps.forEach(step => {\n    noteHtml += `<li style=\"margin-bottom: 3px;\">${step}</li>`;\n  });\n} else {\n  noteHtml += `<li>Aucune étape définie</li>`;\n}\n\nnoteHtml += `</ol>\n  <div style=\"background: #dbeafe; padding: 10px; border-radius: 4px; margin-top: 10px;\">\n    <strong>🎯 ACTION PRIORITAIRE:</strong> ${next_action}\n  </div>\n</div>`;\n\nif (notes_perso !== \"Aucune note particulière\") {\n  noteHtml += `<div style=\"background: #fef3c7; padding: 12px; border-left: 4px solid #f59e0b; margin-bottom: 10px;\">\n  <h3 style=\"margin-top: 0; font-size: 14px; color: #92400e;\">💡 NOTES DE PERSONNALISATION</h3>\n  <p style=\"margin-bottom: 0;\">${notes_perso}</p>\n</div>`;\n}\n\nnoteHtml += `<div style=\"background: #f3f4f6; padding: 10px; border-radius: 6px; text-align: center; font-size: 12px; color: #6b7280; margin-top: 10px;\">\n  Profil généré automatiquement • Analysé par <strong>Djamel</strong> • ${new Date().toLocaleDateString('fr-CA')}\n</div>\n\n</div>`;\n\n// 4. PRÉPARATION DES CUSTOM FIELDS PIPEDRIVE\nconst customFields = {\n  \"Ton conversationnel\": ton,\n  \"Source acquisition\": source,\n  \"Score Lead\": score_global,\n  \"Catégorie Lead\": categorie,\n  \"Probabilité conversion\": probabilite,\n  \"Statut familial\": statut_familial,\n  \"Profession\": profession,\n  \"Type employeur\": employeur,\n  \"Niveau dette\": dettes,\n  \"Niveau épargne\": epargne,\n  \"Connaissance finance\": niveau_connaissance,\n  \"Objectif principal\": objectif_principal,\n  \"Cohorte préférée\": cohorte,\n  \"Date rappel\": date_rappel,\n  \"Contraintes logistiques\": contraintes,\n  \"Next Best Action\": next_action\n};\n\n// 5. RETOUR STRUCTURÉ - CRÉER UN NOUVEL OBJET\nreturn [{\n  json: {\n    pipedrive_note: noteHtml, // Le HTML du profil détaillé (Bloc 1)\n    prospect_name: prenom,\n    prospect_full_name: `${prenom} - ${profession}`,\n    custom_fields: customFields,\n    metadata: {\n      score: score_global,\n      category: categorie,\n      probability: probabilite,\n      ton: ton,\n      next_action: next_action,\n      date_profiling: new Date().toISOString()\n    },\n    email_data: {\n      prenom: prenom,\n      ton: ton,\n      objectif_principal: objectif_principal,\n      douleur_principale: profiling.points_douloureux?.[0] || \"préoccupations financières\",\n      next_step: profiling.next_steps?.[0] || \"prendre rendez-vous\"\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -80
      ],
      "id": "846a2705-e885-4274-a4f0-b46491c64abe",
      "name": "Profile Formatage pour PipeDrive"
    },
    {
      "parameters": {
        "jsCode": "// On récupère l'objet JSON du nœud précédent\nconst input = $node[\"Stratégie de Relance\"].json;\nlet rawText = \"\";\n\n// On cherche le texte dans la structure spécifique de Gemini/Google AI\nif (input.content && input.content.parts && input.content.parts[0]) {\n    rawText = input.content.parts[0].text;\n} else if (input.text) {\n    rawText = input.text;\n}\n\ntry {\n    // Nettoyage : on cherche le premier '{' et le dernier '}' pour isoler le JSON\n    const start = rawText.indexOf('{');\n    const end = rawText.lastIndexOf('}');\n    \n    if (start === -1 || end === -1) throw new Error(\"Pas de JSON trouvé\");\n    \n    const jsonString = rawText.substring(start, end + 1);\n    const data = JSON.parse(jsonString);\n\n    return {\n        date_action: data.date_action,\n        sujet_action: data.sujet_action,\n        explication: data.explication,\n        type_action: data.type_action || 'email'\n    };\n} catch (e) {\n    // En cas d'erreur, on renvoie des données par défaut pour ne pas bloquer le workflow\n    return {\n        date_action: new Date().toISOString().split('T')[0],\n        sujet_action: \"⚠️ Erreur de formatage IA\",\n        explication: \"L'IA n'a pas renvoyé un JSON valide. Texte brut : \" + rawText,\n        type_action: \"email\"\n    };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        48
      ],
      "id": "75f075c1-22d7-453c-9464-fac2becd271e",
      "name": "Parsing Date Relance"
    },
    {
      "parameters": {
        "resource": "activity",
        "subject": "={{ $node[\"Parsing Date Relance\"].json[\"sujet_action\"] }}",
        "type": "email",
        "additionalFields": {
          "deal_id": "={{ $('Prospect opty retrieval').item.json.data[0].id }}",
          "due_date": "={{ $('Parsing Date Relance').item.json.date_action }}",
          "note": "=💡 BRIEFING POUR LE MAIL DE RELANCE :\n{{ $node[\"Parsing Date Relance\"].json[\"explication\"] }}\n\n---\n📌 SCÉNARIO : {{ $node[\"Mettre en variable le scoring output\"].json[\"scenario_logistique\"] }}\n🎯 ANGLE CONSEILLÉ : {{ $node[\"Mettre en variable le scoring output\"].json[\"analyse_expert\"][\"conseil_closing\"] }}\n💎 POTENTIEL GLOBAL : {{ $node[\"Mettre en variable le scoring output\"].json[\"analyse_scores\"][\"probabilite_closing_global\"] }}%",
          "person_id": "={{ $('Prospect opty retrieval').item.json.data[0].person_id.value }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3728,
        272
      ],
      "id": "934bfcc1-9451-4278-9e6e-9df305553478",
      "name": "Create an activity",
      "credentials": {
        "pipedriveApi": {
          "id": "1h2YxF7rlkyWc41n",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $json.deal_id }}",
        "updateFields": {
          "probability": "={{ $('Mettre en variable le scoring output').item.json.analyse_scores.probabilite_closing_immediat }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        3408,
        272
      ],
      "id": "cf3c61e5-baea-49b1-a063-c9e475bb1835",
      "name": "Update Probability",
      "credentials": {
        "pipedriveApi": {
          "id": "1h2YxF7rlkyWc41n",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu es un expert en mise en page HTML pour CRM.\nTa mission est de fusionner deux blocs de contenu HTML en une seule note Pipedrive, en assurant une clarté maximale pour le commercial.\n\nBLOC 1 : 📄 PROFIL DÉTAILLÉ\n\"\"\"\n{{ $('Profile Formatage pour PipeDrive').item.json.pipedrive_note }}\n\"\"\"\n\nBLOC 2 : 🎯 ANALYSE SCORING & ACTION\n\"\"\"\n{{ $json.content.parts[0].text }}\n\"\"\"\n\nINSTRUCTIONS DE FUSION :\n1.  Le format de sortie **DOIT ÊTRE DU HTML STRICT**.\n2.  Place le **BLOC 2 (Analyse Scoring)** en premier.\n3.  Ajoute une ligne de séparation visuelle claire (`<hr style=\"border: 1px solid #ccc; margin: 20px 0;\">`) entre les deux blocs.\n4.  Place le **BLOC 1 (Profil Détaillé)** en second.\n\nSTRUCTURE DE SORTIE REQUISE :\n<div>\n[BLOC 2 : ANALYSE SCORING & ACTION]\n<hr style=\"border: 1px solid #ccc; margin: 20px 0;\">\n[BLOC 1 : PROFIL DÉTAILLÉ]\n</div>\n\nFORMAT DE SORTIE :\n**Génère UNIQUEMENT le code HTML final.** **INTERDICTION ABSOLUE :** La sortie **NE DOIT PAS** contenir de marqueurs Markdown tels que ` ```html `, ` ``` `, ou `\\n` avant ou après le code HTML."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        3888,
        48
      ],
      "id": "2c0b48f5-54f6-4364-aab7-b28eade0c3fa",
      "name": "Fusion Note Finale",
      "credentials": {
        "googlePalmApi": {
          "id": "7uaXCLQUwR1tRU4Z",
          "name": "Google Gemini Api - Free Tier"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=RÔLE :\nTu es un analyste commercial pragmatique. Ta mission est de synthétiser les résultats du Scoring et de la Relance en une note interne formatée en HTML STRICT. Cette note doit permettre de comprendre immédiatement la valeur réelle du prospect, même si sa probabilité de signature immédiate est faible.\nDONNÉES D'ENTRÉE :\nSCORING :{{ $('Mettre en variable le scoring output').item.json.analyse_scores.score_qualite_profil }}\nRELANCE : {{ JSON.stringify($('Stratégie de Relance').item.json) }}\nSTRUCTURE DE LA NOTE HTML (À GÉNÉRER) :\ncode\nHtml\n<div>\n  <!-- Titre Principal -->\n  <h2 style=\"color:#4f46e5; padding-bottom:5px; border-bottom: 1px solid #e5e7eb;\"><span>🎯</span> ANALYSE COMMERCIALE &amp; SCORING</h2><br>\n\n  <!-- Bloc Synthèse des Probabilités -->\n  <div style=\"background-color: #f9fafb; padding: 10px; border-radius: 8px; border: 1px solid #f3f4f6; margin-bottom: 15px;\">\n    <div style=\"text-align:center; color:#333333;\">\n      <span style=\"font-size: 14px;\">QUALITÉ DU PROFIL (FIT) :</span><br>\n      <span style=\"font-weight:bold; font-size: 18px; color:#4f46e5;\">[DÉTERMINER : EXCELLENT/BON/FAIBLE] ([analyse_scores.score_qualite_profil]/10)</span><br>\n      <span style=\"font-size:12px; color:#6b7280;\">[Synthèse courte du budget et de la coachabilité]</span>\n    </div>\n    \n    <hr style=\"border: 0; border-top: 1px solid #e5e7eb; margin: 10px 0;\">\n    \n    <div style=\"display: flex; justify-content: space-around; text-align: center;\">\n      <div style=\"width: 48%;\">\n        <span style=\"font-size: 11px; color: #6b7280;\">PROBABILITÉ IMMÉDIATE</span><br>\n        <span style=\"font-weight:bold; font-size: 16px; color: #f59e0b;\">[analyse_scores.probabilite_closing_immediat]%</span>\n      </div>\n      <div style=\"width: 48%;\">\n        <span style=\"font-size: 11px; color: #6b7280;\">POTENTIEL GLOBAL (LTV)</span><br>\n        <span style=\"font-weight:bold; font-size: 16px; color: #10b981;\">[analyse_scores.probabilite_closing_global]%</span>\n      </div>\n    </div>\n    <div style=\"text-align:center; margin-top: 5px;\">\n      <span style=\"font-size:11px; font-style:italic; color:#6b7280;\">Note : [analyse_scores.explication_ecart]</span>\n    </div>\n  </div>\n\n  <!-- Action Prioritaire -->\n  <h3 style=\"margin-top:15px; color:#f59e0b; font-weight:bold; font-size: 14px;\"><span>🔥</span> ACTION PRIORITAIRE</h3>\n  <p style=\"margin-left: 5px; color: #333333;\"><b>[analyse_expert.conseil_closing]</b></p>\n  <p style=\"font-size: 12px; color: #6b7280;\">Scénario logistique : <b>[scenario_logistique]</b></p>\n\n  <!-- Risques -->\n  <h3 style=\"margin-top:15px; color:#dc2626; font-weight:bold; font-size: 14px;\"><span>⚠️</span> POINTS DE VIGILANCE</h3>\n  <ul style=\"margin-left:-20px; color: #333333; font-size: 13px;\">\n    <li>[analyse_expert.risque_principal]</li>\n    <li>[analyse_expert.justification_scenario]</li>\n  </ul>\n\n  <!-- Prochaine Tâche CRM -->\n  <div style=\"margin-top:15px; padding: 8px; border-left: 4px solid #4f46e5; background-color: #eff6ff;\">\n    <p style=\"margin:0; color:#1e40af; font-size: 13px;\">\n      <b>Prochaine tâche :</b> [date_action] - <i>[sujet_action]</i>\n    </p>\n  </div>\n</div>\nRÈGLES DE GÉNÉRATION :\nAUCUN MARKDOWN : Ne mets pas de ```html.\nDYNAMISME DES LIBELLÉS :\nFIT : 9-10 = EXCELLENT | 7-8 = BON | 5-6 = MOYEN | <5 = FAIBLE.\nCOHÉRENCE : Assure-toi que l'explication de l'écart (ex: \"Veut Mai, calendrier s'arrête en Mars\") est bien présente dans le petit texte en italique sous les pourcentages.\nPRÉCISION : Utilise les données exactes du nœud \"Stratégie de Relance\" pour la section \"Prochaine tâche\".\nGÉNÈRE LE CODE HTML MAINTENANT :\nPourquoi cette version est parfaite pour toi :\nVisibilité : Même si tu ne peux pas créer de champ \"Potentiel Global\", l'information saute aux yeux dès que tu ouvres le Deal.\nPédagogie : Le bloc gris avec les deux pourcentages (Immédiat vs Global) explique visuellement pourquoi le deal n'est pas encore clos, tout en montrant qu'il a une grande valeur.\nAction : La section \"Prochaine tâche\" en bleu en bas de la note te donne ta feuille de route sans avoir à chercher dans l'onglet \"Activités\"."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        3568,
        48
      ],
      "id": "b727943d-169f-4959-857d-47dded040242",
      "name": "Analyse Scoring & Note HTML",
      "credentials": {
        "googlePalmApi": {
          "id": "7uaXCLQUwR1tRU4Z",
          "name": "Google Gemini Api - Free Tier"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu es l'assistant personnel d'un vendeur expert en vente consultative. Ta mission est d'analyser les données pour déterminer la DATE EXACTE et le SUJET PRÉCIS de la prochaine action commerciale (Task) dans Pipedrive.\n\nCONTRAINTE MAJEURE : Le vendeur effectue ses suivis EXCLUSIVEMENT par courriel. Ne suggère jamais d'appel téléphonique. Tous les sujets doivent être orientés vers une rédaction d'email\n\nDATE DE RÉFÉRENCE (AUJOURD'HUI) : {{ $now.format('yyyy-MM-dd') }}\n\n===DONNÉES À ANALYSER :\nPROFIL : {{ JSON.stringify($('Parsing variables du profiling').item.json) }}\nSCORING : {{ JSON.stringify($('Mettre en variable le scoring output').item.json) }}\nCOHORTES_DISPONIBLES : {{ JSON.stringify($('Cohortes ouvertes').item.json.cohortes_disponibles) }}\n\n===RÈGLES DE DÉCISION (LOGIQUE COMMERCIALE)===\n1. PRIORITÉ ABSOLUE (Engagement Client) :\nSi le PROFIL contient une date d'engagement explicite (ex: \"Rappel le 12 mars\", \"Réponse d'ici vendredi\"), utilise cette date.\n2. SELON LE SCÉNARIO LOGISTIQUE (Issu du Scoring) :\nSI CAS_1_PREINSCRIT :\nObjectif : Sécuriser le paiement.\nDate : Aujourd'hui + 2 jours ouvrés.\nSujet : \"🚨 Closing : Vérifier réception paiement - Cohorte [Date]\"\n\nSI CAS_2_REFLEXION_ACTIVE :\nObjectif : Lever l'obstacle mineur (conjoint, agenda).\nDate : Aujourd'hui + 3 jours ouvrés.\nSujet : \"🗓️ Suivi ([Raison]) : Valider démarrage Cohorte [Date Cible]\"\nNote : Extrais la [Raison] (ex: Conjoint, Planning) et la [Date Cible] la plus proche.\n\nSI CAS_3_FUTUR_PLANIFIE (Cas Catalina) :\nObjectif : Relancer dès que le nouveau calendrier est publié.\nDate : Utilise la date_rappel du PROFIL. Si absente, calcule le 10e jour du mois précédent le mois souhaité.\nSujet : \"🔔 Publication Dates : Relancer pour Cohorte [Mois Souhaité]\"\n\nSI CAS_3_FUTUR_REPORT_LONG :\nObjectif : Garder le contact sans pression (Nurturing).\nDate : Aujourd'hui + 90 jours.\nSujet : \"🌱 Courtoisie : Prendre des nouvelles suite à [Bloquant]\"\nNote : Extrais le [Bloquant] (ex: Déménagement, Santé).\n\nSI CAS_4_NON_QUALIFIE :\nSi Score Qualité >= 5 : Date = Aujourd'hui + 60 jours. Sujet : \"♻️ Relance : Prise de nouvelles et partage de valeur\".\nSi Score Qualité < 5 : Date = Aujourd'hui + 120 jours. Sujet : \"🗑️ Archive : Vérification finale avant clôture\".\n\n===INSTRUCTIONS DE CALCUL DES DATES :\nPour les calculs de type \"Aujourd'hui + X jours\", ne compte pas les week-ends.\nSi la date calculée tombe un samedi ou dimanche, déplace-la au lundi suivant.\n\n===FORMAT DE SORTIE (JSON STRICT) :\n---\nATTENTION : Tu es une API. Tu ne dois générer AUCUN texte avant ou après le JSON. \nPas de phrases de politesse, pas de balises de code Markdown (```json). \nRéponds uniquement avec l'objet { ... }.\n---\nGénère uniquement l'objet JSON suivant, sans aucun texte superflu :\n{\n  \"date_action\": \"YYYY-MM-DD\",\n  \"sujet_action\": \"String (Le titre complet pour Pipedrive)\",\n  \"explication\": \"String courte (Pourquoi cette date et ce sujet ?)\",\n  \"type_action\": \"call | email | task\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        3008,
        48
      ],
      "id": "896b167d-d01f-428b-aae2-5fe47339d0cf",
      "name": "Stratégie de Relance",
      "credentials": {
        "googlePalmApi": {
          "id": "7uaXCLQUwR1tRU4Z",
          "name": "Google Gemini Api - Free Tier"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Récupérer les données de l'input (résultat de la requête HTTP Pipedrive)\n// Pipedrive renvoie souvent les données dans une propriété \"data\"\nconst inputData = $input.first().json.data || $input.first().json;\n\nconst now = new Date();\nconst futureCohorts = [];\n\n// Mapping des mois français pour la conversion\nconst months = {\n  'janvier': 0, 'février': 1, 'mars': 2, 'avril': 3, 'mai': 4, 'juin': 5,\n  'juillet': 6, 'août': 7, 'septembre': 8, 'octobre': 9, 'novembre': 10, 'décembre': 11\n};\n\n// Filtrer et traiter les stages\nfor (const stage of inputData) {\n  // Vérification de sécurité si le nom existe\n  if (stage.name && stage.name.startsWith('Cohorte')) {\n    \n    const title = stage.name.toLowerCase();\n    \n    // Regex pour capturer la date entre parenthèses ou dans le titre\n    // Ex: \"Cohorte 55 (12 février)\" -> capture \"12\" et \"février\"\n    const match = title.match(/(\\d{1,2})\\s+(janvier|février|mars|avril|mai|juin|juillet|août|septembre|octobre|novembre|décembre)/);\n\n    if (match) {\n      const day = parseInt(match[1]);\n      const monthStr = match[2];\n      const month = months[monthStr];\n      \n      // Gestion de l'année : Si on est en Décembre et la cohorte est en Janvier, c'est l'année prochaine\n      let year = now.getFullYear();\n      if (month < now.getMonth() && (now.getMonth() > 9)) { \n          year += 1; \n      }\n\n      const cohortDate = new Date(year, month, day);\n\n      // On ne garde que les dates futures (ou aujourd'hui)\n      // On enlève 1 jour à \"now\" pour garder les cohortes du jour même\n      const yesterday = new Date(now);\n      yesterday.setDate(yesterday.getDate() - 1);\n\n      if (cohortDate >= yesterday) {\n        // Formatage propre pour l'email (ex: \"Jeudi 12 février\")\n        const options = { weekday: 'long', day: 'numeric', month: 'long' };\n        const formattedDate = cohortDate.toLocaleDateString('fr-FR', options);\n        const finalString = formattedDate.charAt(0).toUpperCase() + formattedDate.slice(1);\n\n        futureCohorts.push({\n          stage_id: stage.id,\n          nom_pipedrive: stage.name,\n          date_iso: cohortDate.toISOString(), // Pour le tri informatique\n          date_email: finalString, // Pour l'affichage dans le mail (ex: \"Jeudi 12 février\")\n          jour_semaine: finalString.split(' ')[0] // ex: \"Jeudi\"\n        });\n      }\n    }\n  }\n}\n\n// Tri des cohortes par date (de la plus proche à la plus lointaine)\nfutureCohorts.sort((a, b) => new Date(a.date_iso) - new Date(b.date_iso));\n\nreturn [{\n  json: {\n    cohortes_disponibles: futureCohorts\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        -416
      ],
      "id": "dda8439a-65f5-450a-b686-db31e51805ae",
      "name": "Cohortes ouvertes"
    },
    {
      "parameters": {
        "url": "https://api.pipedrive.com/v1/stages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1632,
        -416
      ],
      "id": "d70c8c95-e44d-475a-9dd2-0c6ab83cda1b",
      "name": "Pipedrive get Stages",
      "credentials": {
        "pipedriveApi": {
          "id": "1h2YxF7rlkyWc41n",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dealId": "={{ $('Prospect opty retrieval').item.json.data[0].id }}",
        "updateFields": {
          "stage_id": "={{\n(() => {\n  // 1. Récupération des données\n  const allStages = $('Pipedrive get Stages').item.json.data;\n  const chosenDateRaw = $('Parsing variables du profiling').item.json.logistique.dates_souhaitees || \"\";\n  const scenario = $('Mettre en variable le scoring output').item.json.scenario_logistique;\n\n  // 2. Définition du stage de secours (Suivi)\n  const suiviStage = allStages.find(s => s.name.includes(\"Suivi\"));\n  const defaultId = suiviStage ? suiviStage.id : 9;\n\n  // 3. Logique de matching pour CAS_1\n  if (scenario.includes('CAS_1') && chosenDateRaw) {\n    \n    // Nettoyage de la date : on passe en minuscule et on enlève \"le\", \"du\", etc.\n    // Ex: \"Le 26 mars\" -> \"26 mars\"\n    const cleanDate = chosenDateRaw.toLowerCase()\n      .replace(/^(le|du|au|en)\\s+/g, '')\n      .trim();\n\n    // Tentative 1 : Match direct (le nom du stage contient la date nettoyée)\n    let match = allStages.find(s => s.name.toLowerCase().includes(cleanDate));\n\n    // Tentative 2 : Extraction du jour et du mois (plus robuste)\n    // Cherche un nombre (jour) et un mot (mois) dans la chaîne\n    if (!match) {\n      const dateParts = cleanDate.match(/(\\d{1,2})\\s+([a-zûé]+)/i);\n      if (dateParts) {\n        const day = dateParts[1];   // \"26\"\n        const month = dateParts[2]; // \"mars\"\n        \n        match = allStages.find(s => {\n          const stageName = s.name.toLowerCase();\n          return stageName.includes(day) && stageName.includes(month);\n        });\n      }\n    }\n\n    if (match) return match.id;\n  }\n\n  // 4. Retour par défaut vers Suivi\n  return defaultId;\n})()\n}}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        4016,
        272
      ],
      "id": "260bb368-e6d8-4a33-b51e-e0c2da111587",
      "name": "Update a deal",
      "credentials": {
        "pipedriveApi": {
          "id": "1h2YxF7rlkyWc41n",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6454863222",
        "text": "=⚙️ *Gemini entre en action...*\n\nAnalyse de l'appel avec *{{ $json.query.prospect }}*.\n\nJe récupère les fichiers audio sur OneDrive et je génère le profiling...",
        "replyMarkup": "inlineKeyboard",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "25dbb425-9cb5-483e-b47d-2e0aa40cbfbe",
      "name": "Telegram (Confirmation)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -944,
        -64
      ],
      "webhookId": "6c8921e7-4209-44e8-ba37-b178f3c07461",
      "credentials": {
        "telegramApi": {
          "id": "1bNOUmYi97eKjR7v",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "search",
        "query": "={{ $node[\"Webhook Telegram\"].json.query.date }} {{ $node[\"Webhook Telegram\"].json.query.prospect }}"
      },
      "id": "d133c179-f60c-4aff-bb9c-9b98f3351755",
      "name": "Trouver Dossiers Zoom",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -720,
        -64
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "63wYday4djuJaioz",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "={{ $json.id }}"
      },
      "id": "47a95f75-4470-4861-b687-da23a4876325",
      "name": "Lister Fichiers",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -496,
        -64
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "63wYday4djuJaioz",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name }}",
              "operation": "endsWith",
              "value2": ".m4a"
            }
          ]
        }
      },
      "id": "0b45a61e-a0c2-4c9c-9655-3dea234aedbf",
      "name": "Garder uniquement M4A",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -272,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "id": "05e322b7-09f8-409b-9dcc-d042b1858138",
      "name": "Télécharger Audio",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        16,
        -80
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "63wYday4djuJaioz",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "path": "lancer-traitement-zoom",
        "options": {}
      },
      "id": "579ab4c9-2f2e-4e2e-b86d-438dc9a3373d",
      "name": "Webhook Telegram",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1168,
        -64
      ],
      "webhookId": "68132f77-82d8-428c-8e45-52aa07c69396"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"file_data\": {\n            \"mime_type\": \"audio/mp4\",\n            \"file_uri\": \"{{ $('Upload records').item.json.fileUri }}\"\n          }\n        },\n        {\n          \"text\": \"Transcris verbatim. Format:\\nVendeur: [texte]\\nProspect: [texte]\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.0,\n    \"maxOutputTokens\": 16000\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        -80
      ],
      "id": "2df2a2f4-fa3f-42c9-aba7-8591d4a23131",
      "name": "Transcribe",
      "credentials": {
        "googlePalmApi": {
          "id": "JsC4Y3jPEdAiMC45",
          "name": "Google Gemini n8n - Paid"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Récupérer tous les éléments qui arrivent (Partie 1, Partie 2...)\nconst allItems = $input.all();\n\n// 2. Trier les fichiers par nom pour respecter l'ordre chronologique de Zoom\nallItems.sort((a, b) => (a.json.name || \"\").localeCompare(b.json.name || \"\"));\n\n// 3. Fusionner les textes\nlet finalTranscription = \"\";\nallItems.forEach((item, index) => {\n    // On cherche le texte dans la structure Gemini\n    const text = item.json.text || item.json.candidates?.[0]?.content?.parts?.[0]?.text || \"\";\n    if (text) {\n        finalTranscription += `\\n\\n[--- PARTIE ${index + 1} DE L'APPEL ---]\\n\\n` + text;\n    }\n});\n\n// 4. Récupérer les infos du prospect depuis le Webhook pour garder le contexte\nconst webhook = $('Webhook Telegram').item.json.query;\n\nreturn {\n    text: finalTranscription.trim(),\n    metadata: {\n        total_parts: allItems.length,\n        prospect: webhook.prospect,\n        email: webhook.email,\n        date: webhook.date\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -80
      ],
      "id": "019e9ad8-e35b-4072-a9b3-fd555dd03d26",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "resource": "file",
        "inputType": "binary",
        "binaryPropertyName": "=data"
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        304,
        -80
      ],
      "id": "a726fb90-6dd7-44b5-9782-4b09735b011c",
      "name": "Upload records",
      "credentials": {
        "googlePalmApi": {
          "id": "JsC4Y3jPEdAiMC45",
          "name": "Google Gemini n8n - Paid"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "final_subject",
              "value": "={{ $json.email_subject || $json.Objet }}"
            },
            {
              "name": "final_body",
              "value": "={{ $json.email_body || $json.Corps }}"
            }
          ]
        },
        "options": {}
      },
      "id": "26ab9f01-ae76-45d0-a2c4-33eefba379fe",
      "name": "Sas de Normalisation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3776,
        -208
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "value2": "retoucher"
            },
            {
              "value2": "valider",
              "output": 1
            }
          ]
        }
      },
      "id": "ec467f9e-2888-44a8-9bb4-010bae78579a",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        4640,
        -240
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. On récupère le texte là où Gemini le cache réellement\nconst inputData = $input.first().json;\nlet rawText = inputData.content?.parts?.[0]?.text || inputData.text || \"\";\n\n// 2. Nettoyage du Markdown (si Gemini a ajouté des balises ```json)\nconst cleaned = rawText.replace(/```json/g, '').replace(/```/g, '').trim();\n\n// 3. Transformation du texte en objet JSON utilisable\ntry {\n    const parsed = JSON.parse(cleaned);\n    return {\n        Objet: parsed.Objet || parsed.subject,\n        Corps: parsed.Corps || parsed.body\n    };\n} catch (e) {\n    // En cas d'erreur de parsing, on renvoie le texte brut pour ne pas bloquer\n    return {\n        error: \"Erreur de lecture JSON\",\n        raw: cleaned\n    };\n}"
      },
      "id": "28347b14-b9bb-490e-8038-facddc14d559",
      "name": "Parse JSON Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        -496
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Validation Email (HTML)",
        "formDescription": "Vérifie le code HTML. Modifie manuellement ou utilise l'IA.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "subject",
              "placeholder": "=",
              "defaultValue": "={{ $('Sas de Normalisation').item.json.final_subject }}"
            },
            {
              "fieldLabel": "preview",
              "fieldType": "textarea",
              "defaultValue": "={{ $('Convertir pour Lecture').item.json.readable_preview }}",
              "requiredField": true
            },
            {
              "fieldLabel": "instruction",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "action",
              "fieldType": "dropdown",
              "defaultValue": "valider",
              "fieldOptions": {
                "values": [
                  {
                    "option": "valider"
                  },
                  {
                    "option": "retoucher"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4416,
        -208
      ],
      "id": "1fbee379-5d8a-42f3-8813-64d75afc4d6d",
      "name": "Formulaire Révision (Wait)",
      "webhookId": "af8daa38-6b21-4804-8646-fc4071f3fd56"
    },
    {
      "parameters": {
        "fromEmail": "djamel@educfinance.ca",
        "toEmail": "debourouba@gmail.com",
        "subject": "={{ $('Sas de Normalisation').item.json.final_subject }}",
        "html": "={{ $('Sas de Normalisation').item.json.final_body }}",
        "options": {
          "appendAttribution": false,
          "bccEmail": "djamel@educfinance.ca"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        5152,
        80
      ],
      "id": "7f03ee32-b83a-41d3-b254-621d1ac86afb",
      "name": "Send email",
      "webhookId": "6fef0b2a-cf11-4032-a627-5f2b5624111a",
      "credentials": {
        "smtp": {
          "id": "FIjcZ6tVyOhgZ74v",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu es un expert en intégration HTML et communication commerciale. Ton rôle est de modifier un email existant sans en altérer la structure technique.\n\nDONNÉES REÇUES :\n- OBJET ACTUEL : {{ $('Sas de Normalisation').item.json.final_subject }}\n- CORPS HTML ACTUEL : {{ $('Sas de Normalisation').item.json.final_body }}\n- INSTRUCTION DE MODIFICATION : {{ $json.instruction }}\n\nTA MISSION :\n1. Analyse l'instruction de l'utilisateur.\n2. Applique la modification dans le corps HTML en respectant STRICTEMENT les balises existantes (<table>, <ul>, <b>, <br>).\n3. Si l'instruction concerne le ton, ajuste le vocabulaire sans toucher à la mise en page.\n4. Si l'instruction concerne une donnée (ex: une date dans le tableau), cherche la valeur dans le HTML et remplace-la.\n\nRÈGLES CRITIQUES :\n- Ne génère AUCUN texte en dehors du JSON.\n- N'utilise pas de syntaxe Markdown (pas de ```json, pas de **).\n- Le corps doit rester du HTML pur prêt à être envoyé.\n\nFORMAT DE SORTIE (JSON STRICT) :\n{\n  \"Objet\": \"Le sujet modifié ou original\",\n  \"Corps\": \"Le code HTML complet modifié\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        3728,
        -496
      ],
      "id": "7ecfd276-44f2-4edc-83b7-1b1e3169dfbc",
      "name": "Gemini - Éditeur HTML",
      "credentials": {
        "googlePalmApi": {
          "id": "JsC4Y3jPEdAiMC45",
          "name": "Google Gemini n8n - Paid"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6454863222",
        "text": "=📝 *Email prêt pour {{ $node[\"Webhook Telegram\"].json.query.prospect }}*\n\n📌 *Objet :* {{ $json.final_subject }}\n\nTu dois le réviser avant l'envoi. \nClique sur le lien ci-dessous pour modifier le texte ou demander une retouche à l'IA :\n\n🔗 [ACCÉDER AU FORMULAIRE DE RÉVISION]({{ $execution.resumeFormUrl }})",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4208,
        -208
      ],
      "id": "703e0d07-277e-4715-84cd-4b7f8ed03c89",
      "name": "Notification de revue de mail",
      "webhookId": "d32ff5eb-2506-49e3-b41e-199abdf4f804",
      "credentials": {
        "telegramApi": {
          "id": "1bNOUmYi97eKjR7v",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "html": "={{ $json.final_body }}",
        "destinationKey": "readable_preview",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        3984,
        -208
      ],
      "id": "d8c25c30-318b-4b02-8613-42e26895c832",
      "name": "Convertir pour Lecture"
    },
    {
      "parameters": {
        "resource": "activity",
        "subject": "=✉️ Email envoyé : {{ $json.subject }}",
        "done": "1",
        "type": "email",
        "additionalFields": {
          "deal_id": "={{ $('Prospect opty retrieval').item.json.data[0].id }}",
          "note": "=<h3>✅ Email de suivi envoyé avec succès</h3>\n<p>Cet email a été validé manuellement et expédié via le serveur Ionos.</p>\n\n<hr>\n<div style=\"background-color: #f9f9f9; padding: 15px; border: 1px solid #e0e0e0; border-radius: 5px;\">\n    <p><strong>📅 Date :</strong> {{ $now.format('dd/MM/yyyy à HH:mm') }}</p>\n    <p><strong>👤 Destinataire :</strong> {{ $('Webhook Telegram').item.json.query.email }}</p>\n    <p><strong>📑 Objet :</strong> {{ $('Formulaire Révision (Wait)').item.json.json.subject }}</p>\n    <hr style=\"border-top: 1px dashed #ccc;\">\n    <div style=\"font-family: Arial, sans-serif; color: #333;\">\n        {{ $('Formulaire Révision (Wait)').item.json.json.body }}\n    </div>\n</div>",
          "person_id": "={{ $('Prospect opty retrieval').item.json.data[0].person_id.value }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        4976,
        80
      ],
      "id": "ae8b0fe3-25a9-4ac7-b7c5-3dc4cfb748f9",
      "name": "Communication history to the prospect",
      "credentials": {
        "pipedriveApi": {
          "id": "1h2YxF7rlkyWc41n",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-lite"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        4912,
        -224
      ],
      "id": "9bb572bc-4fe8-45f9-9bed-0e3dd028d110",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "7uaXCLQUwR1tRU4Z",
          "name": "Google Gemini Api - Free Tier"
        }
      }
    }
  ],
  "connections": {
    "Profiling Prospect": {
      "main": [
        [
          {
            "node": "Parsing variables du profiling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsing variables du profiling": {
      "main": [
        [
          {
            "node": "Pipedrive get Stages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring": {
      "main": [
        [
          {
            "node": "Mettre en variable le scoring output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mettre en variable le scoring output": {
      "main": [
        [
          {
            "node": "Profile Formatage pour PipeDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First email": {
      "main": [
        [
          {
            "node": "Formatage Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatage Email": {
      "main": [
        [
          {
            "node": "Sas de Normalisation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Profiling Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s2": {
      "main": [
        [
          {
            "node": "First email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a person": {
      "main": [
        [
          {
            "node": "Prospect opty retrieval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prospect opty retrieval": {
      "main": [
        [
          {
            "node": "Stratégie de Relance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait 5s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Formatage pour PipeDrive": {
      "main": [
        [
          {
            "node": "Search a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saving Profile": {
      "main": [
        [
          {
            "node": "Update Probability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsing Date Relance": {
      "main": [
        [
          {
            "node": "Analyse Scoring & Note HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an activity": {
      "main": [
        [
          {
            "node": "Update a deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Probability": {
      "main": [
        [
          {
            "node": "Create an activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion Note Finale": {
      "main": [
        [
          {
            "node": "Saving Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Scoring & Note HTML": {
      "main": [
        [
          {
            "node": "Fusion Note Finale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stratégie de Relance": {
      "main": [
        [
          {
            "node": "Parsing Date Relance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipedrive get Stages": {
      "main": [
        [
          {
            "node": "Cohortes ouvertes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohortes ouvertes": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram (Confirmation)": {
      "main": [
        [
          {
            "node": "Trouver Dossiers Zoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trouver Dossiers Zoom": {
      "main": [
        [
          {
            "node": "Lister Fichiers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lister Fichiers": {
      "main": [
        [
          {
            "node": "Garder uniquement M4A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Garder uniquement M4A": {
      "main": [
        [
          {
            "node": "Télécharger Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Telegram": {
      "main": [
        [
          {
            "node": "Telegram (Confirmation)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Télécharger Audio": {
      "main": [
        [
          {
            "node": "Upload records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload records": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Gemini": {
      "main": [
        [
          {
            "node": "Sas de Normalisation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sas de Normalisation": {
      "main": [
        [
          {
            "node": "Convertir pour Lecture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulaire Révision (Wait)": {
      "main": [
        [
          {
            "node": "Switch Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action": {
      "main": [
        [
          {
            "node": "Gemini - Éditeur HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Éditeur HTML": {
      "main": [
        [
          {
            "node": "Parse JSON Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification de revue de mail": {
      "main": [
        [
          {
            "node": "Formulaire Révision (Wait)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir pour Lecture": {
      "main": [
        [
          {
            "node": "Notification de revue de mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Communication history to the prospect": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a deal": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook Telegram": [
      {
        "json": {
          "headers": {
            "priority": "u=0, i",
            "sec-ch-ua": "\"Not:A-Brand\";v=\"99\", \"Microsoft Edge\";v=\"145\", \"Chromium\";v=\"145\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "upgrade-insecure-requests": "1",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36 Edg/145.0.0.0",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "sec-fetch-site": "none",
            "sec-fetch-mode": "navigate",
            "sec-fetch-user": "?1",
            "sec-fetch-dest": "document",
            "accept-encoding": "gzip, br",
            "accept-language": "fr,fr-FR;q=0.9,en;q=0.8,en-US;q=0.7,fr-CA;q=0.6",
            "if-none-match": "W/\"22-6OS7cK0FzqnV2NeDHdOSGS1bVUs\"",
            "x-forwarded-for": "142.118.112.135",
            "cf-ray": "9d078e3ddf1a36d2-YYZ",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "142.118.112.135",
            "cf-ipcountry": "CA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "x-forwarded-proto": "https",
            "host": "n8n-dev.dbflowtools.vip",
            "connection": "Keep-Alive"
          },
          "params": {},
          "query": {
            "email": "shimen73@hotmail.com",
            "prospect": "Nancy Lamontagne",
            "date": "2026-02-19"
          },
          "webhookUrl": "https://n8n-dev.dbflowtools.vip/webhook/lancer-traitement-zoom",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "81214411-ae92-46b9-b19f-2666af780282",
  "activeVersionId": "33ecb62a-1941-48fb-8f4d-5cc2618d65d7",
  "versionCounter": 1228,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-19T16:54:43.667Z",
      "createdAt": "2026-02-19T16:54:43.667Z",
      "role": "workflow:owner",
      "workflowId": "vlWf2-bNcX29uIJtTm7dM",
      "projectId": "xnNwXWAwC1uQwvN1",
      "project": {
        "updatedAt": "2026-02-19T15:11:21.097Z",
        "createdAt": "2026-02-19T02:42:00.273Z",
        "id": "xnNwXWAwC1uQwvN1",
        "name": "Djamal-Eddine Bourouba <debourouba@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "c71e2780-a084-4387-85e8-fbab80d1e77c"
      }
    }
  ]
}